@@include('_header.html')
<body>
<div class="container">
    <div class="link">
        <section class="description">
            <h3>Описание</h3>
            <p>1С:Облачный архив (backup.1c.ru) – это инструмент для защиты баз данных «1С:Предприятие 8» посредством автоматизированного периодического копирования и архивирования на удаленных серверах в «облачном» хранилище.
                «1С:Облачный архив» поможет пользователям:</p>
            <ul>
                <li>защитить базы данных от случайной утери из-за выхода из строя оборудования, программных сбоев, «человеческого фактора»;</li>
                <li>не заботиться об отслеживании запущенных процессов, «1С:Облачный архив» самостоятельно проконтролирует выполнение и успешное завершение копирования баз данных в хранилище;</li>
                <li>получать информацию о результатах работы агента резервного копирования при входе в базу «1С:Предприятие».</li>
            </ul>
            <p>Высокая степень защиты баз от потери или несанкционированного доступа обеспечивается использованием серверов размещенных в специализированном дата-центре на территории Российской Федерации, защищенным каналом при передаче данных, а также доступом к архивным копиям по паролю и логину. «1С:Облачный архив» создан с использованием надежного и проверенного оборудования. Использование специального программного обеспечения, осуществляющего распределенное архивирование данных, повышает надежность. Поэтому, несмотря на любую непредвиденную ситуацию в офисе пользователя (пожар, затопление, утрата компьютера и т.п.), его данные останутся в сохранности, и в любой момент он сможет получить доступ к ним с любого компьютера или устройства, подключенного к Интернет.</p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
                <li>Подключиться к базам 1С через 1С:Линк не сложнее, чем запустить 1С:Бухгалтерию. В любое время можно как включить доступ, так и отключить его.</li>
                <li>Передаваемые данные защищены персональными ключами и сертификатами, которые хранятся только у пользователя. Сервис 1С:Линк не хранит и не дешифрует данные абонента.</li>
                <li>Компьютер абонента не становится уязвимым для атаки хакеров. Для дополнительной защиты можно настраивать список пользователей, имеющих право работать через 1С:Линк.</li>
                <li>Доступ через «1С:Линк» можно настроить самостоятельно, без привлечения специалистов.</li>
                <li>Можно организовать доступ к нескольким информационным базам одновременно.</li>
            </ul>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Справочная информация:</p>
            <ul>
                <li>Информация о регистрации программы доступна в  <a class="link-text" href="">Личном кабинете</a>этого портала</li>
                <li><a class="link-text" href="">Проверка наличия действующего 1С:ИТС</a></li>
            </ul>
            <p><a class="link-text" href="">Выбрать партнера для оформления 1С:ИТС и сопровождения</a></p>
           <ul>
               <li>Приобрести лицензию «1C-ABBYY Comparator для 1С (лицензия на 3 месяца)», «1C-ABBYY Comparator для 1С (лицензия на 6 месяцев)» или  «1C-ABBYY Comparator для 1С (лицензия на 12 месяцев)».
               </li>
               <li>Приобрести лицензию «1C-ABBYY Comparator для 1С (лицензия на 3 месяца)», «1C-ABBYY Comparator для 1С (лицензия на 6 месяцев)» или  «1C-ABBYY Comparator для 1С (лицензия на 12 месяцев)».
               </li>
               <li>Приобрести лицензию «1C-ABBYY Comparator для 1С (лицензия на 3 месяца)», «1C-ABBYY Comparator для 1С (лицензия на 6 месяцев)» или  «1C-ABBYY Comparator для 1С (лицензия на 12 месяцев)».
               </li>
           </ul>
        </section>
        <section class="instructions">
            <h3>Инструкции</h3>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
            </ul>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <ul>
            <li><span>«ABBYY Comparator для 1С (лицензия на 3 месяца)»
</span><br> Стоимость: 2 490,00 руб.</li>
        </ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p><ul>
            <li><span>«ABBYY Comparator для 1С (лицензия на 3 месяца)»
</span><br> Стоимость: 2 490,00 руб.</li>
        </ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p><ul>
            <li><span>«ABBYY Comparator для 1С (лицензия на 3 месяца)»
</span><br> Стоимость: 2 490,00 руб.</li>
        </ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <p>С вопросами по получению доступа и работе с информационной системой 1С:ИТС – <a class="link-text" href="">web-its@1c.ru</a></p>
        </section>
    </div>
</div>
</body>
</html>
