@@include('_header.html')
<body>
<div class="container">
    <div class="accounts-check">
        <section class="features">
            <h3>Чем поможет сервис</h3>
            <p>Полученные документы автоматически заносятся в базу, это сокращает время ввода документов и уменьшает количество ошибок и опечаток.

                Электронные документы без электронной подписи в отличие от полноценного ЭДО не имеют юридической силы и требуют наличия бумажных оригиналов.</p>
           <p>Сервис "1С:Сверка" в автоматическом режиме покажет расхождения в суммах, датах и номерах счетов-фактур, а также ошибки в реквизитах контрагентов.

               Сверка ведется в программе 1С без выгрузки и загрузки данных, являющихся коммерческой тайной, в сторонние приложения или на сторонние сайты. </p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.youtube.com/embed/tlQpeagiqL4?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="640" height="360" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </section>
            <section class="conditions">
            <h3>Условия использования</h3>
            <div class="markdown">
                <p>Для подключения и использования сервиса 1С:Облачный необходимо подключить программу 1С к официальной поддержке.<br>
                <ul>
                    <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
                    <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
                    <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
                    <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
                </ul>
                <p><a class="link-text" href="">Просмотреть весь список программ</a></p>
                  </div>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <p>Фирма "1С" в настоящее время предоставляет сервис "1С:Сверка" без дополнительной оплаты.</p>
            <a class="button butn-blue-invert" href="">Настроить самостоятельно</a>
            <a class="button butn-blue" href="">Заказать</a>
            <p><a class="link-text" href="">Подбор тарифа>>></a></p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <ul>
                <li>через "1С-Коннект", сервис "1С-ЭТП: Поддержка клиентов";</li>
                <li>через "1С-Коннект", сервис "1С-ЭТП: Поддержка клиентов";</li>
                <li>через "1С-Коннект", сервис "1С-ЭТП: Поддержка клиентов";</li>
            </ul>
        </section>
    </div>
</div>
</body>
</html>
