@@include('_header.html')
<body>
<div class="container">
    <div class="auditor">
        <section class="description">
            <h3>Описание</h3>
            <p>Пользователь программ 1С может задать вопрос по бухгалтерскому, налоговому и кадровому учету напрямую аудиторам и специалистам фирмы "1С" по адресу: itsprof@1c.ru или с помощью web-формы.</p>
            <p>Максимальное время подготовки ответа –  семь рабочих дней с момента получения окончательно сформулированного вопроса.</p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
            <ul>
                <li>Меньше ошибок в ведении учета</li>
                <li>Сокращение собственных затрат времени и усилий на поиск нужной информации</li>
                <li>Повышение квалификации за счет получения консультаций от высококвалифицированных специалистов</li>
            </ul>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Для получения доступа к информационной системе 1С:ИТС необходимо:</p>
            <ul>
                <li>Подключить программу 1С к официальной поддержке. <a class="link-text" href="">Подробнее</a></li>
                <li>Иметь действующий договор информационно-технологического сопровождения (1С:ИТС) с партнером "1С".</li>
            </ul>
            <p>Справочная информация:</p>
            <ul>
                <li>Информация о регистрации программы доступна в <a class="link-text" href="">Личном кабинете</a> этого Портала</li>
                <li><a class="link-text" href="">Проверка наличия действующего 1С:ИТС</a></li>
            </ul>
            <p><a class="link-text" href="">ыбрать партнера</a>В для оформления 1С:ИТС и сопровождения</p>
        </section>
        <section class="program">
            <h3>Программы, в которых реализован сервис</h3>
            <p>Сервис доступен пользователям всех версий программ системы "1С:Предприятие".</p>
        </section>
        <section class="instructions">
            <h3>Инструкции</h3>
            <p>Задать вопрос можно по адресу itsprof@1c.ru или с помощью web-формы.</p>
            <p>Правильно заданный вопрос позволяет дать максимально точный ответ в кратчайшие сроки.</p>
       <p>Как правильно задать вопрос?</p>
            <ul>
                <li>Укажите название и организационно-правовую форму организации.</li>
                <li>Укажите регистрационный номер программы, на которую оформлен Договор 1С:ИТС.</li>
                <li>Опишите хозяйственную ситуацию, которая вызвала вопрос:
                <ul>
                    <li>сформулируйте условия, при которых она возникла,</li>
                    <li>обозначьте действия, которые были совершены,</li>
                    <li>и все особенности, которые влияют на ответ (режим налогообложения, период совершения операции и т. п.). Четко и грамотно формулируйте свои мысли.</li>
                </ul>
                </li>
                <li>Каждый вопрос должен направляться отдельным письмом. При получении письма, которое будет содержать несколько не связанных между собой вопросов, ответ дается только на первый вопрос.</li>
                <li>Пользователь, задавший вопрос, вправе использовать ответ для решения спорных ситуаций только в своей хозяйственной деятельности и не может передавать его третьим лицам. Фирма "1С" оставляет за собой право прекратить консультирование нарушителя.</li>
                <li>Ответы являются результатом интеллектуальной деятельности сотрудников фирмы "1С" и носят рекомендательный характер. Решение по их использованию на практике пользователь принимает самостоятельно.</li>
                <li>Фирма "1С" оставляет за собой право использовать вопросы и ответы в консультационных материалах без согласования с лицом, задавшим вопрос.</li>
            </ul>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <p>В пакеты 1С:ИТС ПРОФ, ИТС БЮДЖЕТ ПРОФ, ИТС СТРОИТЕЛЬСТВО, ИТС МЕДИЦИНА включено неограниченное количество консультаций.</p>
            <p>Справочная информация:</p>
            <ul>
                <li><a class="link-text" href="">Что входит в состав 1С:ИТС.</a></li>
                <li><a class="link-text" href="">Рекомендованная стоимость 1С:ИТС.</a></li>
            </ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
    </div>
</div>
</body>
</html>
