@@include('_header.html')
<body>
<div class="container">
    <div class="bn-trade">
        <section class="features">
            <h3>Чем поможет сервис</h3>
                <p>Полученные документы автоматически заносятся в базу, это сокращает время ввода документов и уменьшает количество ошибок и опечаток.

                    Электронные документы без электронной подписи в отличие от полноценного ЭДО не имеют юридической силы и требуют наличия бумажных оригиналов.</p>
        <h4>Поставщикам</h4>
            <div class="markdown">
                <p><span>Получить новых клиентов</span><br>
                Сервис работает по принципу торговых площадок. Размещайте торговые предложения, которые включают наименование товаров, категорию, стоимость и описание. Дополнительно можно указать информацию об условиях платежа или доставки. Покупатели ищут товар, видят ваше предложение и оставляют заказ. Так вы получаете новых клиентов.
                </p> <p><span>Получить новых клиентов</span><br>
               Сервис работает по принципу торговых площадок. Размещайте торговые предложения, которые включают наименование товаров, категорию, стоимость и описание. Дополнительно можно указать информацию об условиях платежа или доставки. Покупатели ищут товар, видят ваше предложение и оставляют заказ. Так вы получаете новых клиентов.
                </p><p><span>Получить новых клиентов</span><br>
               Сервис работает по принципу торговых площадок. Размещайте торговые предложения, которые включают наименование товаров, категорию, стоимость и описание. Дополнительно можно указать информацию об условиях платежа или доставки. Покупатели ищут товар, видят ваше предложение и оставляют заказ. Так вы получаете новых клиентов.
                </p> </div>
            <h4>Покупателям (закупщикам)</h4>
            <div class="markdown">
                <p><span>Получить новых клиентов</span><br></p>
                <ul>Используйте удобные механизмы поиска новых торговых предложений:
                    <li>без привязки к региону, в «домашнем» регионе или в любом другом субъекте РФ</li>
                    <li>по отдельному товару или по списку товаров</li>
                    <li>по наименованию, характеристике, артикулу производителя, штрихкоду</li>
                    <li>с указанием диапазона цен, сроков поставки, других условий</li>
                </ul>
                <p>В результате вы получите список предложений, отвечающих заданным условиям. После сравнения и выбора оптимальных вариантов вы можете автоматически сформировать и отправить заказы.
                </p>
                <p><span>Сократить время выполнения заказа </span>
                <br>Заказы, отправленные через сервис, быстрее обрабатываются поставщиками, так как автоматически загружаются в их системы учета и не содержат ошибок.
                    Сервис также поможет правильно оформить заказ у поставщика, с которым вы уже сотрудничаете, поскольку размещенные им торговые предложения содержат актуальные цены и остатки.</p>
            </div>
        </section>
        <section class="conditions">
            <h3>Условия использования</h3>
            <div class="markdown">
                <p>Для подключения и использования сервиса 1С:Облачный необходимо подключить программу 1С к официальной поддержке.<br>
                <ul>
                    <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
                    <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
                    <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
                    <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
                </ul>
                <p><a class="link-text" href="">Просмотреть весь список программ</a></p>
                <p><a class="link-text" href="">Просмотреть весь список программ…</a></p>
            </div>
        </section>
        <section class="prices">
            <h3>Цена</h3>
           <table>
               <thead>
               <tr>
                   <th>Тариф</th>
                   <th>Цена за 1 сертификат</th>
               </tr>
               </thead>
               <tbody>
               <tr>
                   <td>"1С-ЭТП. Госзаказ"</td>
                   <td>4450</td>
               </tr>
               <tr>
                   <td>"1С-ЭТП. Госзаказ"</td>
                   <td>4450</td>
               </tr>
               <tr>
                   <td>"1С-ЭТП. Госзаказ"</td>
                   <td>4450</td>
               </tr>
               <tr>
                   <td>"1С-ЭТП. Госзаказ"</td>
                   <td>4450</td>
               </tr>
               </tbody>
           </table>
            <ul>Стоимость использования функционала "Подбор аукционов" включена в стоимость продуктов линейки 1С-ЭТП.
                <li><a class="link-text" href="">Подробнее о продукте "1С-ЭТП. ЕГАИС" для работы с ЕГАИС Федеральной службы Росалкогольрегулирование</a></li>
                <li><a class="link-text" href="">Подробнее о продукте "1С-ЭТП. ЕГАИС" для работы с ЕГАИС Федеральной службы Росалкогольрегулирование</a></li>
                <li><a class="link-text" href="">Подробнее о продукте "1С-ЭТП. ЕГАИС" для работы с ЕГАИС Федеральной службы Росалкогольрегулирование</a></li>
                <li><a class="link-text" href="">Подробнее о продукте "1С-ЭТП. ЕГАИС" для работы с ЕГАИС Федеральной службы Росалкогольрегулирование</a></li>
            </ul>
            <a class="button butn-blue d-block float-right" href="">Заказать</a>
            <p><a class="link-text" href="">Подбор тарифа>>></a></p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <ul>
                <li>через "1С-Коннект", сервис "1С-ЭТП: Поддержка клиентов";</li>
                <li>через "1С-Коннект", сервис "1С-ЭТП: Поддержка клиентов";</li>
                <li>через "1С-Коннект", сервис "1С-ЭТП: Поддержка клиентов";</li>
            </ul>
        </section>
        <section class="info">
            <h3>Дополнительно</h3>
            <h4>Инструкции</h4>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
            </ul>
        </section>
    </div>
</div>
</body>
</html>
