@@include('_header.html')
<body>
<div class="container">
    <div class="bn">
        <section class="features">
            <h3>Чем поможет сервис</h3>
            <div class="markdown">
               <ul>Отправляйте и получайте документы в программе 1С
                   <li>без настройки обмена и криптографии</li>
                   <li>без настройки обмена и криптографии</li>
               </ul>
                <p>Полученные документы автоматически заносятся в базу, это сокращает время ввода документов и уменьшает количество ошибок и опечаток.

                    Электронные документы без электронной подписи в отличие от полноценного ЭДО не имеют юридической силы и требуют наличия бумажных оригиналов.</p>
            </div>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <div class="markdown">
            <p>Для подключения и использования сервиса 1С:Облачный необходимо подключить программу 1С к официальной поддержке.<br>
           <ul>
            <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
            <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
            <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
            <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
        </ul>
          <p><a class="link-text" href="">Просмотреть весь список программ</a></p>
            <p><a class="link-text" href="">Просмотреть весь список программ…</a></p>
        <ul>Документы, которыми можно обмениваться без электронной подписи:
            <li>товарная накладная (Торг-12);</li>
            <li>акт передачи прав;</li>
            <li>товарная накладная (Торг-12);</li>
            <li>акт передачи прав;</li>
            <li>товарная накладная (Торг-12);</li>
            <li>акт передачи прав;</li>
        </ul>
            </div>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <p>Сервис 1С:ИТС Отраслевой можно приобрести через партнеров фирмы «1С» и в интернет-магазине 1С-Online, обратите внимание что стоимость сервиса зависит от выбранного способа приобретения.
                <a class="button butn-red" href="">Подключиться самостоятельно</a>
                <a class="button butn-red-invert" href="">Заказать</a>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <p>По вопросам, связанным с работой сервиса, следует обращаться по адресу itsotr@1c.ru.</p>
         <ul>
             <li>по телефону: 8 (495) 956-11-81</li>
             <li>по телефону: 8 (495) 956-11-81</li>
             <p><a class="link-text" href="">Правила обращения</a></p>
         </ul>
        </section>
        <section class="info">
            <h3>Дополнительно</h3>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
            </ul>
        </section>
    </div>
</div>
</body>
</html>
