@@include('_header.html')
<body>
<div class="container">
    <div class="link">
        <section class="description">
            <h3>Описание</h3>
            <p>1С:Облачный архив (backup.1c.ru) – это инструмент для защиты баз данных «1С:Предприятие 8» посредством автоматизированного периодического копирования и архивирования на удаленных серверах в «облачном» хранилище.
                «1С:Облачный архив» поможет пользователям:</p>
            <ul>
                <li>защитить базы данных от случайной утери из-за выхода из строя оборудования, программных сбоев, «человеческого фактора»;</li>
                <li>не заботиться об отслеживании запущенных процессов, «1С:Облачный архив» самостоятельно проконтролирует выполнение и успешное завершение копирования баз данных в хранилище;</li>
                <li>получать информацию о результатах работы агента резервного копирования при входе в базу «1С:Предприятие».</li>
            </ul>
          <p>Высокая степень защиты баз от потери или несанкционированного доступа обеспечивается использованием серверов размещенных в специализированном дата-центре на территории Российской Федерации, защищенным каналом при передаче данных, а также доступом к архивным копиям по паролю и логину. «1С:Облачный архив» создан с использованием надежного и проверенного оборудования. Использование специального программного обеспечения, осуществляющего распределенное архивирование данных, повышает надежность. Поэтому, несмотря на любую непредвиденную ситуацию в офисе пользователя (пожар, затопление, утрата компьютера и т.п.), его данные останутся в сохранности, и в любой момент он сможет получить доступ к ним с любого компьютера или устройства, подключенного к Интернет.</p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
                <li>Подключиться к базам 1С через 1С:Линк не сложнее, чем запустить 1С:Бухгалтерию. В любое время можно как включить доступ, так и отключить его.</li>
                <li>Передаваемые данные защищены персональными ключами и сертификатами, которые хранятся только у пользователя. Сервис 1С:Линк не хранит и не дешифрует данные абонента.</li>
                <li>Компьютер абонента не становится уязвимым для атаки хакеров. Для дополнительной защиты можно настраивать список пользователей, имеющих право работать через 1С:Линк.</li>
                <li>Доступ через «1С:Линк» можно настроить самостоятельно, без привлечения специалистов.</li>
                <li>Можно организовать доступ к нескольким информационным базам одновременно.</li>
            </ul>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Для подключения и использования сервиса 1С:Облачный необходимо подключить программу 1С к официальной поддержке.<br>
                <a class="link-text" href="">Подробнее</a></p>
            <p>Справочная информация:</p>
            <ul>
                <li>Информация о регистрации программы доступна в  <a class="link-text" href="">Личном кабинете</a>этого портала</li>
                <li><a class="link-text" href="">Проверка наличия действующего 1С:ИТС</a></li>
            </ul>
            <p><a class="link-text" href="">Выбрать партнера для оформления 1С:ИТС и сопровождения</a></p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="program">
            <h3>Программы, в которых реализован сервис</h3>
            <p>Сейчас сервис доступен для следующих приложений:</p>
            <ul>
                <li>1С:Бухгалтерия 8 (редакция 3)</li>
                <li>1С:Управление небольшой фирмой 8</li>
            </ul>
            <p>Самостоятельно встроить «1С:Облачный архив» в конфигурации на платформе «1С:Предприятие 8» (начиная с версии 8.3.8.1652) возможно при помощи типовой конфигурации «1С:Библиотека интернет-поддержки пользователей» (начиная с версии 2.1.8).</p>
        </section>
        <section class="instructions">
            <h3>Инструкции</h3>
            <p>Для подключения и настройки резервного копирования и архивирования рекомендуется обратиться к партнеру, оказывающему информационно-технологическое сопровождение. Самостоятельно можно подключиться следуя инструкции опубликованной на сайте.
                В Личном кабинете на Портале сервисов отображаются все доступные для использования лицензии и срок их действия.
                Для совершения заказа дополнительных лицензий необходимо обратиться к обслуживающему партнеру.
                Скачать архивные копии баз пользователи могут из личных кабинетов на сайте https://backup.1c.ru, в сжатом виде в формате 7-zip. У пользователя есть доступ к архивным копиям в любое время с любого компьютера или устройства, подключенного к Интернет. Доступ осуществляется по паролю и логину от личного кабинета с сайта https://portal.1c.ru.
                После окончания действия лицензии "1С:Облачный архив" прекращается резервное копирование данных, но архивные копии будут доступны еще в течение 1 месяца в личном кабинете. При продлении лицензии в течение 1 месяца срок доступа продлевается на срок действия лицензии.</p>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <p>Пользователи, имеющие договоры ИТС уровня ПРОФ* могут бесплатно использовать «1С:Облачный архив» с доступным объемом дисковой квоты 20 Гб.

                Пользователи, с договором ИТС уровня ТЕХНО* могут подключить и использовать «1С:Облачный архив» только путем приобретения отдельной лицензии на «Агент резервного копирования 1С:Облачный архив. Стандарт» на соответствующее число месяцев. При активации лицензии сразу доступен объем дисковой квоты 20 Гб.</p>
            <table>
                <thead>
                <tr>
                    <th style="width:15%">Артикул</th>
                    <th>Название продукта</th>
                    <th style="width:20%">Рекомендованиая розничная цена, руб.</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-label="Артикул">2900001607162</td>
                    <td data-label="Название продукта">"Агент резервного копирования 1С:Облачный архив. Стандарт на 1
                        месяц"
                    </td>
                    <td data-label="Рекомендованная розничная цена, руб.">844</td>
                </tr>
                <tr>
                    <td data-label="Артикул">2900001607162</td>
                    <td data-label="Название продукта">"Агент резервного копирования 1С:Облачный архив. Стандарт на 1
                        месяц"
                    </td>
                    <td data-label="Рекомендованная розничная цена, руб.">844</td>
                </tr>
                <tr>
                    <td data-label="Артикул">2900001607162</td>
                    <td data-label="Название продукта">"Агент резервного копирования 1С:Облачный архив. Стандарт на 1
                        месяц"
                    </td>
                    <td data-label="Рекомендованная розничная цена, руб.">844</td>
                </tr>
                <tr>
                    <td data-label="Артикул">2900001607162</td>
                    <td data-label="Название продукта">"Агент резервного копирования 1С:Облачный архив. Стандарт на 1
                        месяц"
                    </td>
                    <td data-label="Рекомендованная розничная цена, руб.">844</td>
                </tr>
                </tbody>
            </table>
            <p>*) К договорам ИТС уровня ТЕХНО относятся ИТС ТЕХНО и ИТС БЮДЖЕТ. К договорам ИТС уровня ПРОФ относятся: ИТС ПРОФ, ИТС Бюджет ПРОФ, ИТС Строительство, ИТС Медицина.

                Подробнее о том, как стать зарегистрированным пользователем, зарегистрировать программу 1С на портале ИТС и выбрать партнера для заключения договора информационно-технологического сопровождения см. http://its.1c.ru/db/aboutits#content:21:hdoc

                Дополнительный объем дисковой квоты предоставляется всем пользователям, имеющим действующий договор ИТС, путем приобретения нужного количества лицензий на «Агент резервного копирования 1С:Облачный архив. Расширение». При активации лицензии «Агент резервного копирования 1С:Облачный архив. Расширение» доступен объем дисковой квоты 10 Гб.</p>
            <table></table>
          <p>При необходимости выполнять копирование информационных баз с разных компьютеров (ноутбуков), требуется дополнительная лицензия «Агент резервного копирования 1С:Облачный архив. Стандарт» на необходимый срок. При этом дисковое пространство, доступное по каждой лицензии, будет суммироваться.</p>
               <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <p>С вопросами по получению доступа и работе с информационной системой 1С:ИТС – <a class="link-text" href="">web-its@1c.ru</a></p>
        </section>
    </div>
</div>
</body>
</html>
