@@include('_header.html')
<body>
<div class="container">
    <div class="app_Counteragent">
        <section class="features">
            <h3>Чем поможет сервис</h3>
            <div class="markdown">
                <p>
                    <strong>Заполнит реквизиты в карточке контрагента по ИНН или наименованию</strong><br>
                    5 секунд и без ошибок!
                </p>
                <p>
                    <strong>Проверит реквизиты инспекций ФНС и отделений ФСС и ПФР </strong><br>
                    При уплате налогов ваш платеж уйдет правильно.
                </p>
                <p>
                    <strong>Заполнит адреса по данным Федеральной информационной адресной системы (ФИАС) </strong><br>
                    Больше не надо загружать адресный классификатор.
                </p>
                <p>
                    <strong>Соберет досье с подробной информацией о контрагенте </strong><br>
                    Вы сможете быстро оценить его надежность.
                </p>
            </div>
        </section>
        <section class="capabilities">
            <h3>Возможности</h3>
            <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/61aUJ3Cwf_o?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="640" height="360" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

            <h4>Автоматическое заполнение реквизитов контрагента</h4>
            <div class="markdown">
                <p>
                    Введите ИНН любой фирмы или ИП и карточка контрагента заполнится моментально и без ошибок.
                    </p>
            </div>
            <h4>Реквизиты инспекции ФНС и отделений ФСС и ПФР</h4>
            <div class="markdown">
            <p>
                Автоматически заполняются при создании карточки организации и проверяются при каждом формировании платежных документов.
            </p>
            </div>
            <h4>Актуальные адресные сведения</h4>
            <div class="markdown">
            <p>
                Теперь можно не загружать в программу, а получать через веб-сервис фирмы "1С" и ФИАС.
                 </p>
            </div>
            <h4>Отчет "Досье контрагента"</h4>
            <div class="markdown">
            <p>
                По любой фирме покажет сведения из ЕГРЮЛ, бухгалтерскую отчетность, информацию о проверках госорганами и финансовый анализ деятельности.
            </p>
            </div>
            <p><a class="link-text" href=""></a>Подробнее о возможностях сервиса</p>
        </section>
        <section class="termsOfUse">
            <h3>Условия использования</h3>
            <p>Сервис работает в программах:</p>
            <ul>
                <li>"1С:Бухгалтерия 8" (ред. 3.0)</li>
                <li>"1С:Бухгалтерия государственного учреждения" (ред. 1.0, 2.0)</li>
                <li>"1С:Управление холдингом" (ред.1.3)</li>
                <li>"Управление нашей фирмой" (ред.1.5)</li>
            </ul>
            <p><a class="link-text" href="">Просмотреть весь список программ…</a></p>
            <p><a class="link-text" href="">Программа должна быть на официальной поддержке</a></p>
            <p>Для работы сервиса необходим доступ в Интернет.</p>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <div class="row price">
                <div class="col-9">
                    <h4>"1С:Контрагент" на 12 месяцев</h4>
                    <ul>
                        <li>Автозаполнение реквизитов контрагента или организации по ИНН или наименованию на основе ЕГРЮЛ/ЕГРИП – 7200 обращений</li>
                        <li>"Досье контрагента" – 360 отчетов</li>
                        <li>Возможность получать данные с веб-сервиса "1С" для ввода и проверки адресов – без ограничений</li>
                        <li>Автоматическое заполнение и проверка реквизитов инспекций ФНС и филиалов ФСС и ПФР – без ограничений</li>
                    </ul>
                </div>
                <div class="col-3">
                    <p class="application-cost">4800 руб.</p>
                    <a class="button butn-purple" href="">Заказать</a>
                </div>
            </div>
            <div class="row price">
                <div class="col-9">
                    <h4>"1С:Контрагент" безлимитный</h4>
                    <ul>
                        <li>Автозаполнение реквизитов контрагента или организации по ИНН или наименованию на основе ЕГРЮЛ/ЕГРИП – без ограничений</li>
                        <li>"Досье контрагента" – без ограничений</li>
                        <li>Возможность получать данные с веб-сервиса "1С" для ввода и проверки адресов – без ограничений</li>
                        <li>Автоматическое заполнение и проверка реквизитов инспекций ФНС и филиалов ФСС и ПФР – без ограничений</li>
                    </ul>
                </div>
                <div class="col-3">
                    <p class="application-cost">3500 руб/месяц</p>
                    <a class="button butn-purple" href="">Заказать</a>
                </div>
            </div>
            <div class="row price">
                <div class="col-9">
                    <h4>"1С:Контрагент" тестовый на 3 месяца</h4>
                    <ul>
                        <li>Автозаполнение реквизитов контрагента или организации по ИНН или наименованию на основе ЕГРЮЛ/ЕГРИП – 20 обращений
                        </li>
                        <li>"Досье контрагента" – 10 отчетов</li>
                        <li>Возможность получать данные с веб-сервиса "1С" для ввода и проверки адресов – без ограничений</li>
                        <li>Автоматическое заполнение и проверка реквизитов инспекций ФНС и филиалов ФСС и ПФР – без ограничений</li>
                    </ul>
                </div>
                <div class="col-3">
                    <a class="button butn-purple" href="">Получить</a>
                </div>
            </div>
           <h4>Специальные предложения</h4>
            <p>Сервис "1С-Контрагент" включен в пакеты информационно-технологического сопровождения – <a class="link-text" href="">"Новый бизнес начни с 1С!", СтартЭДО, 1С:ИТС уровня ПРОФ.</a></p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <div class="markdown">
                <p>Поддержка обеспечивается партнерами и линией консультаций фирмы "1С" по электронной почте
                    <a class="link-text" href=""></a></p>
                <p><a class="link-text" href="">Правила обращения</a></p>
            </div>
        </section>
        <section class="info">
            <h3>Дополнительно</h3>
            <h4>Инструкции</h4>
            <div class="markdown">
                <ul>
                    <li><a class="link-text" href="">Досье контрагента</a></li>
                    <li><a class="link-text" href="">Автоподстановка реквизитов контрагента и организации по ИНН</a></li>
                    <li><a class="link-text" href="">Отключение старого источника данных для "1С:Контрагента"</a></li>
                </ul>
            </div>
            <h4>Информационные письма</h4>
            <div class="markdown">
                <ul>
                    <li><a class="link-text" href="">О начале продаж продукта "1С:Контрагент" (№ 20801 от 03.12.2015)</a></li>
                    <li><a class="link-text" href="">Информация для партнеров № 20802 от 03.12.2015</a></li>
                </ul>
            </div>
        </section>
    </div>
</div>
</body>
</html>