@@include('_header.html')
<body>
<div class="container">
    <div class="direct-bank">
        <section class="features">
            <h3>Чем поможет сервис</h3>
            <p>Полученные документы автоматически заносятся в базу, это сокращает время ввода документов и уменьшает количество ошибок и опечаток.

                Электронные документы без электронной подписи в отличие от полноценного ЭДО не имеют юридической силы и требуют наличия бумажных оригиналов.</p>
            <p>Сервис "1С:Сверка" в автоматическом режиме покажет расхождения в суммах, датах и номерах счетов-фактур, а также ошибки в реквизитах контрагентов.

                Сверка ведется в программе 1С без выгрузки и загрузки данных, являющихся коммерческой тайной, в сторонние приложения или на сторонние сайты. </p>
           <h3>Возможности</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/tlQpeagiqL4?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="640" height="360" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
         <ul>
             <li>отправка рублевых платежных документов в банк с электронной подписью клиента или без нее (зависит от банка);</li>
             <li>отправка рублевых платежных документов в банк с электронной подписью клиента или без нее (зависит от банка);</li>
             <li>отправка рублевых платежных документов в банк с электронной подписью клиента или без нее (зависит от банка);</li>
            <p><a class="link-text" href="">Дополнительно>>></a></p>
         </ul>
        </section>
        <section class="conditions">
            <h3>Условия использования</h3>
            <div class="markdown">
                <p>Сервис работает в программах:<br>
                <ul>
                    <li>"1С:Бухгалтерия 8" (ред. 3.0)</li>
                    <li>"1С:Бухгалтерия 8" (ред. 3.0)</li>
                    <li>"1С:Бухгалтерия 8" (ред. 3.0)</li>
                    <li>"1С:Бухгалтерия 8" (ред. 3.0)</li>
                </ul>
                <p><a class="link-text" href="">Просмотреть весь список программ</a></p>
                <p><a class="link-text" href="">Просмотреть весь список программ</a></p>
                <p><a class="link-text" href="">Просмотреть весь список программ</a></p>
                <ul>Технологию прямого обмена с "1С:Предприятием" поддерживают более 25 банков:
                    <li>Сбербанк</li>
                    <li>Сбербанк</li>
                    <li>Сбербанк</li>
                </ul>
                <p><a class="link-text" href="">Дополнительно>>></a></p>
            </div>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <p>Фирма "1С" в настоящее время предоставляет сервис "1С:Сверка" без дополнительной оплаты.</p>
            <a class="button butn-red-invert" href="">Насторить самостоятельно</a>
            <a class="button butn-red" href="">Заказать</a>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <ul>
                <li>через "1С-Коннект", сервис "1С-ЭТП: Поддержка клиентов";</li>
                <li>через "1С-Коннект", сервис "1С-ЭТП: Поддержка клиентов";</li>
                <li>через "1С-Коннект", сервис "1С-ЭТП: Поддержка клиентов";</li>
            </ul>
        </section>
        <section class="info">
            <h3>Дополнительно</h3>
            <h4>Инструкции</h4>
            <div class="markdown">
                <ul>
                    <li><a class="link-text" href="">Инструкция пользователя для магазина</a></li>
                    <li><a class="link-text" href="">Инструкция пользователя для поставщика</a></li>
                </ul>
            </div>
        </section>
    </div>
</div>
</body>
</html>
