@@include('_header.html')
<body>
<div class="container">
    <div class="enterprise">
        <section class="description">
            <h3>Описание</h3>
            <p>Облачный сервис «1С:Предприятие 8 через Интернет» (1cfresh.com) фирмы 1С позволяет работать через Интернет с популярными программами 1С из любой точки мира.</p>
            <p>Сервис предназначен для:</p>
            <ul>
                <li>Тех, кому удобно работать вне офиса (например, бухгалтерам на дому)</li>
                <li>Тех, у кого есть распределенный офис (филиалы в разных городах)</li>
                <li>Руководителей, которые хотят легко предоставлять доступ к данным аудитору, сотруднику на аутсорсинге для ведения учета.</li>
            </ul>
            <p><a class="link-text" href="">Сайт сервиса</a></p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
            <ul>
                <li>Для работы в программах нужен только доступ в Интернет</li>
                <li>Работа в любом месте и в любое время, где вам удобно (24 х 7)</li>
                <li>Никаких затрат на оборудование и сопровождение программ</li>
                <li>Круглосуточная поддержка</li>
                <li>Автоматическое обновление приложений и форм отчетности</li>
                <li>1С-Отчетность –отправка отчетности в контролирующие органы через Интернет «одной кнопкой» (ФНС, ПФР, ФСС, Росстат и другие)</li>
                <li>В сервисе опубликованы те же версии программ «1С», которые работают локально – вы можете в любой момент перейти из «облачного» сервиса к использованию программы в локальном режиме или наоборот</li>
                <li>Доступ к профессиональной информационной системе (ИТС), учебным материалам, форуму</li>
            </ul>
            <h4>Сервис обеспечивает безопасность данных на уровне мировых лидеров:</h4>
            <ul>
                <li>Надежное хранение данных в защищенном дата-центре</li>
                <li>Защищенный протокол передачи данных</li>
                <li>Регулярное резервное копирование данных</li>
                <li>Контроль и регистрация всех операций</li>
            </ul>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Если вы используете программу "1С", для подключения сервиса обратитесь к партнеру фирмы "1С", с которым у вас заключен договор сопровождения 1С:ИТС.</p>
            <p>Если вы не являетесь пользователем программ "1С" или у вас нет договора 1С:ИТС - то вы можете обратиться к партнеру или самостоятельно пройти регистрацию на сайте https://1cfresh.com/</p>
            <p>
            <strong>
                <a class="service" href="">Заказать сервис</a>
            </strong>
            </p>
        </section>
        <section class="program">
            <h3>Программы, в которых реализован сервис</h3>
            <ul>
                <li><a class="link-text" href="">1С:Бухгалтерия 8</a></li>
                <li><a class="link-text" href="">1С:Предприниматель 2015</a></li>
                <li><a class="link-text" href="">1С:Управление нашей фирмой 8</a></li>
                <li><a class="link-text" href="">1С:Комплексная автоматизация 8</a></li>
                <li><a class="link-text" href="">1С:Зарплата и управление персоналом 8</a></li>
                <li><a class="link-text" href="">1С-Камин:Зарплата (версия 5.0)</a></li>
                <li><a class="link-text" href="">1С:Бухгалтерия государственного учреждения 8</a></li>
                <li><a class="link-text" href="">1С:Зарплата и кадры государственного учреждения 8</a></li>
            </ul>
        </section>
        <section class="instructions">
            <h3>Инструкции</h3>
            <p><a class="link-text" href="">Основные вопросы и ответы по работе в сервисе</a></p>
            <p><a class="link-text" href="">Информация для партнеров</a></p>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <table></table>
            <p class="undertable">В таблице указана рекомендованная цена при оплате за год. Точную стоимость можно узнать у партнеров фирмы «1С» при подключении к сервису.</p>
            <p class="undertable">* Пользователю тарифа ТЕХНО разрешается добавлять еще одну дополнительную информационную базу этого же приложения для целей тестирования.</p>
        <p class="undertable">** Поддержку пользователя в сервисе выполняет обслуживающая организация (партнер фирмы "1С"). Пользователь может предоставить доступ к своему приложению
            сотруднику обслуживающей организации. В этом случае сеанс партнера также будет учитываться при контроле ограничений по тарифу. Для удобства пользователей,
            мы добавляем еще один дополнительный сеанс – специально для сотрудника обслуживающей организации.</p>
       <p>Подробное описание тарифов: https://1cfresh.com/price</p>
            <p>Точную стоимость сервиса следует узнавать у обслуживающего вас партнера «1С». </p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <ul>
                <li>Индивидуальное сопровождение партнерами фирмы «1С»</li>
                <li>Круглосуточная линия консультаций фирмы «1С» семь дней в неделю:
                <li>телефон: 8-800-333-72-27</li>
                <li>e-mail: support@1cfresh.com</li>
                <li>«1С-Коннект» - услуга «поддержка 1cfresh» (подключается через обслуживающего партнера)</li>
                <li>Возможность отправить обращение на линию консультаций, не выходя из приложения: https://1cfresh.com/articles/informcenter</li>
                </li>
                <li>Центр идей – возможность добавлять, а также комментировать и голосовать за пожелания других пользователей</li>
                <li>Профессиональное онлайн-сообщество - форум пользователей 1сfresh.com, возможность получить ответ непосредственно от разработчика приложения</li>
            </ul>
        </section>
    </div>
</div>
</body>
</html>
