@@include('_header.html')
<body>
<div class="container">
    <div class="etp">
        <section class="features">
            <h3>Чем поможет сервис</h3>
            <h4>Получить сертификат электронной подписи</h4> 
            <div class="markdown">
            <ul>Полученные документы  заказ. Так вы получаете новых клиентов.
                <li>государственный заказ (44-ФЗ)</li>
                <li>государственный заказ (44-ФЗ)</li>
                <li>государственный заказ (44-ФЗ)</li>
                <li>государственный заказ (44-ФЗ)</li>
            </ul>
            <ul>Для работы в государственных системах и электронного взаимодействия с системами маркировки и прослеживания товаров:
                <li>Росреестр</li>
                <li>ЕГАИС</li>
                <li>ЛесЕГАИС</li>
                <li>СМЭВ</li>
                <li>ЕФРСФДЮЛ (Федресурс)</li>
                <li>ЕИАС ФСТ РФ</li>
            </ul>
                <p><span>Упрощенная процедура подачи заявления </span>
                <br>Заявление на получение электронной подписи можно оформить в программе 1С непосредственно на рабочем месте. Реквизиты организации в заявлении заполняются автоматически. Заявление также можно сформировать и отправить на сайте 1c-etp.ru.
                </p>
                <p><span>Упрощенная процедура подачи заявления </span>
                <br>Заявление на получение электронной подписи можно оформить в программе 1С непосредственно на рабочем месте. Реквизиты организации в заявлении заполняются автоматически. Заявление также можно сформировать и отправить на сайте 1c-etp.ru.
                </p>
                <p><span>Упрощенная процедура подачи заявления </span>
                    <br>Заявление на получение электронной подписи можно оформить в программе 1С непосредственно на рабочем месте. Реквизиты организации в заявлении заполняются автоматически. Заявление также можно сформировать и отправить на сайте 1c-etp.ru.
                </p>
                <p><span>Упрощенная процедура подачи заявления </span>
                    <br>Заявление на получение электронной подписи можно оформить в программе 1С непосредственно на рабочем месте. Реквизиты организации в заявлении заполняются автоматически. Заявление также можно сформировать и отправить на сайте 1c-etp.ru.
                </p>
            </div>
            <h4>Подобрать аукционы</h4>
            <div class="markdown">
                <p><span>Получить новых клиентов</span><br></p>
                <ul>Используйте удобные механизмы поиска новых торговых предложений:
                    <li>без привязки к региону, в «домашнем» регионе или в любом другом субъекте РФ</li>
                    <li>по отдельному товару или по списку товаров</li>
                    <li>по наименованию, характеристике, артикулу производителя, штрихкоду</li>
                    <li>с указанием диапазона цен, сроков поставки, других условий</li>
                </ul>
            </div>
        </section>
        <section class="conditions">
            <h3>Условия использования</h3>
            <div class="markdown">
                <p>Для подключения и использования сервиса 1С:Облачный необходимо подключить программу 1С к официальной поддержке.<br>
                <ul>
                    <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
                    <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
                    <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
                    <li>1С:ERP Управление предприятием 2" (начиная с версии 2.1.3.66);</li>
                </ul>
                <p><a class="link-text" href="">Просмотреть весь список программ…</a></p>
            </div>
        </section>
        <section class="prices">
            <h3>Цена</h3>

        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <p>По вопросам, связанным с работой сервиса, следует обращаться по адресу itsotr@1c.ru.</p>
            <p><a class="link-text" href="">Правила обращения</a></p>
        </section>
        <section class="info">
            <h3>Дополнительно</h3>
            <h4>Инструкции</h4>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
            </ul>
        </section>
    </div>
</div>
</body>
</html>
