@@include('_header.html')
<body>
<div class="container">
    <div class="financial-control.html">
        <section class="description">
            <h3>Описание</h3>
            <p>1С:Подпись – простой способ подготовить и отправить заявление на выпуск квалифицированного сертификата электронной подписи от удостоверяющего центра ООО "НПЦ 1С". Продукт 1С:Подпись рекомендуется приобретать и использовать тем пользователям ПП 1С, кто хочет перейти на юридически значимый электронный документооборот (ЭДО) со своими контрагентами, но еще не имеет для этого квалифицированного сертификата, или количество сотрудников, использующих сертификат электронной подписи для ЭДО, необходимо увеличить. Сертификат, полученный с помощью 1С:Подписи, не предназначен для отправки регламентированной отчетности в контролирующие органы в электронном виде через телекоммуникационные каналы связи и для участия в торгах на федеральных и коммерческих электронных торговых площадках.</p>

            <p>Программа «1С-Финконтроль 8» осуществляет две группы проверок:</p>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
            </ul>
            <p>
            <p>Программа «1С-Финконтроль 8» осуществляет две группы проверок:</p>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <ul>
                    <li>для казенных учреждений и органов государственной власти: в разрезе кодов бюджетной и экономической классификации (КБК и КОСГУ);</li>
                    <li>для казенных учреждений и органов государственной власти: в разрезе кодов бюджетной и экономической классификации (КБК и КОСГУ);</li>
                </ul>
                </li>
            </ul>
            <p>Программа «1С-Финконтроль 8» осуществляет две группы проверок:</p>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
            </ul>
            <p>Для использования программы необходим доступ в Интернет, при этом информационная база программы «1С: Бухгалтерия государственного учреждения» может располагаться на компьютере, не имеющем доступа в Интернет.

                Функционал программы доступен в режиме 24*7 круглосуточно без выходных и праздничных дней.</p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
            <p>Бухгалтеру государственного учреждения:</p>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
                <li>Подключиться к базам 1С через 1С:Линк не сложнее, чем запустить 1С:Бухгалтерию. В любое время можно как включить доступ, так и отключить его.
                <ul>
                    <li>Передаваемые данные защищены персональными ключами и сертификатами, которые хранятся только у пользователя. Сервис 1С:Линк не хранит и не дешифрует данные абонента.</li>
                    <li>Компьютер абонента не становится уязвимым для атаки хакеров. Для дополнительной защиты можно настраивать список пользователей, имеющих право работать через 1С:Линк.</li>
                    <li>Доступ через «1С:Линк» можно настроить самостоятельно, без привлечения специалистов.</li>
                </ul>
                 </li>
            </ul>
            <p>Главному распорядителю бюджетных средств, головной государственной организации, имеющей филиальную сеть:</p>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
                <li>Подключиться к базам 1С через 1С:Линк не сложнее, чем запустить 1С:Бухгалтерию. В любое время можно как включить доступ, так и отключить его.</li>
                </ul>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
                <p>Сервис работает в программах:<br>
                <ul>
                    <li>"1С:Бухгалтерия 8" (ред. 3.0)</li>
                    <li>"1С:Бухгалтерия 8" (ред. 3.0)</li>
                </ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="program">
            <h3>Программы, в которых реализован сервис</h3>
            <p>Любая редакция программы «1С:Бухгалтерия государственного учреждения 8».</p>
        </section>
        <section class="info">
            <h3>Дополнительно</h3>
            <h4>Инструкции</h4>
            <div class="markdown">
               <p>Для активации и настройки "1С–Финконтроль 8" пользователям рекомендуется обращаться к партнеру, с которым заключен договор ИТС.

                   Самостоятельно активировать программу можно на сайте fincontrol8.ru (или финконтроль8.рф) при помощи учетных данных от Портала сервисов ИТС следуя инструкции, опубликованной на сайте fincontrol8.ru.</p>
            </div>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <p>Фирма "1С" в настоящее время предоставляет сервис "1С:Сверка" без дополнительной оплаты.</p>
           <table>
               <thead>
               <tr>
                   <th style="width:15%">Артикул</th>
                   <th>Название продукта</th>
                   <th style="width:20%">Рекомендованиая розничная цена, руб.</th>
               </tr>
               </thead>
               <tbody>
               <tr>
                   <td data-label="Артикул">2900001607162</td>
                   <td data-label="Название продукта">"Агент резервного копирования 1С:Облачный архив. Стандарт на 1
                       месяц"
                   </td>
                   <td data-label="Рекомендованная розничная цена, руб.">844</td>
               </tr>
               <tr>
                   <td data-label="Артикул">2900001607162</td>
                   <td data-label="Название продукта">"Агент резервного копирования 1С:Облачный архив. Стандарт на 1
                       месяц"
                   </td>
                   <td data-label="Рекомендованная розничная цена, руб.">844</td>
               </tr>
               <tr>
                   <td data-label="Артикул">2900001607162</td>
                   <td data-label="Название продукта">"Агент резервного копирования 1С:Облачный архив. Стандарт на 1
                       месяц"
                   </td>
                   <td data-label="Рекомендованная розничная цена, руб.">844</td>
               </tr>
               <tr>
                   <td data-label="Артикул">2900001607162</td>
                   <td data-label="Название продукта">"Агент резервного копирования 1С:Облачный архив. Стандарт на 1
                       месяц"
                   </td>
                   <td data-label="Рекомендованная розничная цена, руб.">844</td>
               </tr>
               </tbody>
           </table>
            <p>Всем пользователям предоставляется тестовый доступ к программе "1С–Финконтроль 8":</p>
       <ul>
           <li>до конца месяца, при  активации  не позднее 15 числа календарного месяца;</li>
           <li>до конца следующего месяца, если программа активирована после 15 числа календарного месяца.</li>
       </ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <ul>
                <li>через "1С-Коннект", сервис "1С-ЭТП: Поддержка клиентов";</li>
                <li>через "1С-Коннект", сервис "1С-ЭТП: Поддержка клиентов";</li>
                <li>через "1С-Коннект", сервис "1С-ЭТП: Поддержка клиентов";</li>
            </ul>
        </section>

    </div>
</div>
</body>
</html>
