@@include('_header.html')
<body>
<div class="container">
    <div class="app_Goods">
        <section class="features">
            <h3>Чем поможет сервис</h3>
            <h4>Для розничных магазинов</h4>
            <div class="markdown">
                <p>
                    <strong>Планируйте ассортимент без ошибок </strong>
                    Узнайте, какие товары приносят вам прибыль и всегда должны быть в ассортименте. И, наоборот,
                    выводите из ассортимента товары с низкой наценкой и оборачиваемостью.
                </p>
                <p>
                    <strong>Управляйте запасами и заказывайте вовремя </strong>
                    Ежедневно сервис автоматически проверяет минимальные остатки и своевременно отправляет заявку поставщику. Так вы избежите дефицита ходовых товаров и упущенных продаж.
                </p>
                <p>
                    <strong>Повышайте прибыль </strong>
                    Пробуйте разные варианты повышения продаж – новые товары, изменение наценки, перераспределение площади. Убедиться в правильности действий помогут отчеты.
                </p>
            </div>
            <h4>Для оптовых поставщиков</h4>
            <div class="markdown">
                <p>
                    <strong>Находите новых покупателей </strong>
                    Публикуйте в сервисе прайс-листы и конкурентные преимущества – цены, условия поставки, описания товаров. Розничные магазины, клиенты сервиса "1С-Товары", увидят вас в числе поставщиков и смогут отправить вам автоматические заказы.
                </p>
                <p>
                    <strong>Повышайте эффективность обработки полученных заказов </strong>
                    Заявки от розничных магазинов автоматически загружаются в учетную систему "1С:Управление торговлей 8". Вам останется только сверить наименования позиций и количество и включить заявки в работу.
                </p>
            </div>
        </section>
        <section class="capabilities">
            <h3>Возможности</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/dfLEnK8oScg?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="640" height="360" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        <h4>Автоматический заказ</h4>
            <div class="markdown">
          <p>Сервис автоматически проверяет минимальные остатки и формирует заявки на товары, по которым остаток меньше необходимого. Выстроенный процесс поставок позволяет избежать как дефицита, так и излишка товара в магазине.
             <a class="link-text" href="">Подробнее>></a></p>
            </div>
            <h4>Управление и анализ работы магазина</h4>
            <div class="markdown">
            <p>Понятные отчеты помогут оценить эффективность использования ресурсов магазина:</p>
            <ul>
                <li>анализ выручки (по дням, часам, видам оплат, средний чек);</li>
                <li>анализ товарных остатков и оборотов (самые продаваемые товары, оборачиваемость, продажи по поставщикам);</li>
                <li>анализ использования площадей (выручка с 1 кв. м. торговой площади, по секции или по товарной категории).</li>
            </ul>
            <p>Отчеты доступны с любого устройства через Интернет.</p>
            </div>
            <h4>Загрузка каталога товаров</h4>
            <div class="markdown">
            <p>Сервис автоматически загружает товары в учетную систему из специализированного интернет-каталога, который содержит более 100 000 наименований и более 2 000 групп. Быстро и без ошибок. </p>
            <a class="link-text" href="">Подробнее>></a>
            </div>
        </section>
        <section class="termsOfUse">
            <div class="markdown">
            <p>Сервис работает в программах:</p>
            <ul>
                <li>"Розница, редакции 2.2" с версии 2.2.4.12 (только для магазинов)</li>
                <li>"Розница, редакции 2.2 базовая" с версии 2.2.4.12 (только для магазинов)</li>
                <li>"Управление торговлей" с версии 11.2.3.66 (для магазинов и поставщиков)</li>
                <li>"Управление торговлей базовая" с версии 11.2.3.69 (для магазинов и поставщиков)</li>
            </ul>
            <p><a class="link-text" href="">Программа должна быть на официальной поддержке</a></p>
            <p>Для работы сервиса необходим доступ в Интернет.</p>
            </div>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <div class="row price">
                <div class="col-9">
                    <h4>1С-Товары.Тестовый для магазина на 1 месяц</h4>
                    <ul>
                    <li>Оптимизация ассортимента, контроль товарных остатков и автоматический заказ товаров</li>
                    <li>Анализ работы розничного магазина или сети магазинов</li>
                    <li>Загрузка 6 000 карточек товаров со штрихкодами</li>
                    </ul>
                </div>
                <div class="col-3">
                    <p class="application-cost">Бесплатно</p>
                    <a class="button butn-green" href="">Заказать</a>
                </div>
            </div>
            <div class="row price">
                <div class="col-9">
                    <h4>1С-Товары. Каталог товаров</h4>
                    <ul>
                        <li>Оптимизация ассортимента, контроль товарных остатков и автоматический заказ товаров</li>
                    </ul>
                </div>
                <div class="col-3">
                    <p class="application-cost">Бесплатно</p>
                    <a class="button butn-green" href="">Заказать</a>
                </div>
            </div>
            <div class="row price">
                <div class="col-9">
                    <h4>"1С-Товары". Автозаказ для магазина</h4>
                    <ul>
                        <li>Использование сервера прогнозирования</li>
                        <li>Оптимизация ассортимента</li>
                        <li>Контроль товарных остатков и автоматический заказ товаров</li>
                        <li>Загрузка 20 000 карточек товаров со штрихкодами</li>
                    </ul>
                </div>
                <div class="col-3">
                    <p class="application-cost">1000 руб/месяц<br>
                        <span>за один магазин</span>
                    </p>
                    <a class="button butn-green" href="">Заказать</a>
                </div>
            </div>
            <div class="row price">
                <div class="col-9">
                    <h4>"1С-Товары". Аналитика продаж для магазина</h4>
                    <ul>
                        <li>Анализ работы розничного магазина</li>
                        <li>Сравнительный анализ для сети магазинов</li>
                        <li>Загрузка 20 000 карточек товаров со штрихкодами</li>
                    </ul>
                </div>
                <div class="col-3">
                    <p class="application-cost">1000 руб/месяц<br>
                    <span>за один магазин</span>
                    </p>
                    <a class="button butn-green" href="">Заказать</a>
                </div>
            </div>
            <div class="row price">
                <div class="col-9">
                    <h4>"1С-Товары". Комплексный для магазина</h4>
                    <ul>
                        <li>Оптимизация ассортимента, контроль товарных остатков и автоматический заказ товаров</li>
                        <li>Анализ работы розничного магазина или сети магазинов</li>
                        <li>Загрузка 20 000 карточек товаров со штрихкодами</li>
                    </ul>
                </div>
                <div class="col-3">
                    <p class="application-cost">1700 руб/месяц<br>
                    <span>за один магазин</span>
                    </p>
                    <a class="button butn-green" href="">Заказать</a>
                </div>
            </div>
            <div class="row price">
                <div class="col-9">
                    <h4>"1С-Товары". Для поставщика</h4>
                    <ul>
                        <li>Получение заявок от магазинов</li>
                        <li>Публикация 30 прайс-листов в год - бесплатно,<br>
                            30 дополнительных публикаций – 5 000 руб./год</li>
                    </ul>
                </div>
                <div class="col-3">
                    <a class="button butn-green" href="">Заказать</a>
                </div>
            </div>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <div class="markdown">
            <ul>
                <li>через "1С-Коннект", сервис "1С-Товары. Поддержка пользователей";</li>
                <li>телефон</li>
                <li>электронная почта</li>
            </ul>
            <p><a class="link-text" href="">Правила обращения</a></p>
            </div>
        </section>
        <section class="info">
            <h3>Дополнительно</h3>
            <h4>Инструкции</h4>
            <div class="markdown">
            <ul>
                <li><a class="link-text" href="">Инструкция пользователя для магазина</a></li>
                <li><a class="link-text" href="">Инструкция пользователя для поставщика</a></li>
            </ul>
            </div>
        </section>
    </div>
    </div>
</body>
</html>