@@include('_header.html')
<body>
<div class="container">
    <div class="helpdesc">
        <section class="description">
            <h3>Описание</h3>
            <p>Фирма 1С совместно с партнерами 1С осуществляет техническую поддержку пользователей по телефону и электронной почте.</p>
            <p>Контакты отдела общей технической поддержки фирмы 1С (линия консультаций):</p>
            <div class="markdown">
            <p>Телефоны: (495) 688-10-01, (495) 956-11-81</p>
            <p>Режим работы: 9:30-17:30 (мск, по рабочим дням)</p>
            <p>v8@1c.ru – для пользователей программ системы «1С:Предприятие 8»</p>
            <p>hline@1c.ru – для пользователей программ системы «1С:Предприятие 7.7»</p>
            </div>
            <p>Консультирование по горячей линии зарегистрированных пользователей отраслевых конфигураций, выпускаемых
                в формате электронных поставок,  оказывает партнер-разработчик. Адреса, телефоны и время работы линий консультации разработчиков:</p>
        <table>
            <thead>
            <tr>
                <th>Продукт в составе электронной поставки</th>
                <th>Разработчик</th>
                <th>Адреса, телефоны и время работы</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-label="Продукт в составе электронной поставки"><a class="link-text" href="">1С:Предприятие 8. CRМ СТАНДАРТ</a></td>
                <td data-label="Разработчик">1С-Рарус</td>
                <td data-label="Адреса, телефоны и время работы" style="text-align:left">
                    <p>Условие предоставления консультаций: наличие действующего договора 1С:ИТС с активированным сервисом 1С:ИТС Отраслевой 1-й категории.</p>
                    <p>Услуга в 1С-Коннект: ЛК 1С:CRM ПРОФ\СТАНДАРТ

                        Адрес электронной почты: crm@rarus.ru

                        Тел.: +7 (495) 223-04-04

                        ICQ: 611070513

                        Skype: crm-help

                        Режим работы: с 10.00 до 18.00 по московскому времени, кроме суббот, воскресений и праздничных дней (по распорядку московских предприятий)</p>
                </td>
            </tr>
            <tr>
            <td data-label="Продукт в составе электронной поставки"><a class="link-text" href="">1С:Предприятие 8. CRМ СТАНДАРТ</a></td>
            <td data-label="Разработчик">1С-Рарус</td>
            <td data-label="Адреса, телефоны и время работы"  style="text-align:left">
                <p>Условие предоставления консультаций: наличие действующего договора 1С:ИТС с активированным сервисом 1С:ИТС Отраслевой 1-й категории.</p>
                <p>Услуга в 1С-Коннект: ЛК 1С:CRM ПРОФ\СТАНДАРТ

                    Адрес электронной почты: crm@rarus.ru

                    Тел.: +7 (495) 223-04-04

                    ICQ: 611070513

                    Skype: crm-help

                    Режим работы: с 10.00 до 18.00 по московскому времени, кроме суббот, воскресений и праздничных дней (по распорядку московских предприятий)</p>
            </td>
            </tr>
            <tr>
            <td data-label="Продукт в составе электронной поставки"><a class="link-text" href="">1С:Предприятие 8. CRМ СТАНДАРТ</a></td>
            <td data-label="Разработчик">1С-Рарус</td>
            <td data-label="Адреса, телефоны и время работы" style="text-align:left">
                <p>Условие предоставления консультаций: наличие действующего договора 1С:ИТС с активированным сервисом 1С:ИТС Отраслевой 1-й категории.</p>
                <p>Услуга в 1С-Коннект: ЛК 1С:CRM ПРОФ\СТАНДАРТ

                    Адрес электронной почты: crm@rarus.ru

                    Тел.: +7 (495) 223-04-04

                    ICQ: 611070513

                    Skype: crm-help

                    Режим работы: с 10.00 до 18.00 по московскому времени, кроме суббот, воскресений и праздничных дней (по распорядку московских предприятий)</p>
            </td>
            </tr>
            </tbody>
        </table>
           <p>Наряду с указанными контактами для пользователей 1С:ИТС предусмотрены дополнительные каналы получения
               консультаций. Дополнительные телефонные номера, а также телефоны и электронные адреса обслуживающего
               партнера «1С» указываются в договоре 1С:ИТС.</p>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Для получения доступа к общей линии консультаций необходимо подключить программу 1С к официальной поддержке. <br>
                <a class="link-text" href="">Подробнее</a></p>
            <p>Справочная информация:</p>
            <ul>
                <li>Информация о регистрации программы доступна в <a class="link-text" href="">Личном кабинете</a>этого портала</li>
                <li><a class="link-text" href="">Проверка наличия действующего 1С:ИТС</a></li>
            </ul>
            <p><a class="link-text" href="">Выбрать партнера</a> для оформления 1С:ИТС и сопровождения</p>
        </section>
        <section class="program">
            <h3>Программы, в которых реализован сервис</h3>
            <p>Сервис доступен пользователям всех версий программ системы "1С:Предприятие".</p>
        </section>
        <section class="instructions">
            <h3>Инструкции</h3>
            <p>При обращении на линию консультаций фирмы "1С" необходимо предоставить следующую информацию:</p>
            <ul>
                <li>Регистрационный номер программы</li>
                <li>Название организации</li>
                <li>Версия программного продукта, название конфигурации</li>
            </ul>
            <p>Постарайтесь правильно и заранее сформулировать свой вопрос, это поможет получить на него наиболее точный и быстрый ответ.</p>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <p>По договорам 1С:ИТС ПРОФ, ИТС БЮДЖЕТ ПРОФ, ИТС СТРОИТЕЛЬСТВО, ИТС МЕДИЦИНА количество консультаций неограниченно.</p>
            <p>Договор 1С:ИТС уровня «техно» предусматривает получение одной консультации в месяц.</p>
            <p>Количество консультаций обслуживающего партнера определяется индивидуальными условиями договора информационно-технологического сопровождения.</p>
            <p>Фирма «1С» осуществляет консультирование пользователей базовых версий, не имеющих информационно-технологического сопровождения, но консультирование у партнеров «1С» в этом случае обычно производится за дополнительную оплату.</p>
            <p>Справочная информация: </p>
            <ul>
                <li><a class="link-text" href="">Что входит в состав 1С:ИТС.</a></li>
                <li><a class="link-text" href="">Рекомендованная стоимость 1С:ИТС.</a></li>
            </ul>
        </section>
    </div>
</div>
</body>
</html>
