@@include('_header.html')
<body>
<div class="container">
    <div class="industry">
        <section class="description">
            <h3>Описание</h3>
            <p>1С:Подпись – простой способ подготовить и отправить заявление на выпуск квалифицированного сертификата электронной подписи от удостоверяющего центра ООО "НПЦ 1С". Продукт 1С:Подпись рекомендуется приобретать и использовать тем пользователям ПП 1С, кто хочет перейти на юридически значимый электронный документооборот (ЭДО) со своими контрагентами, но еще не имеет для этого квалифицированного сертификата, или количество сотрудников, использующих сертификат электронной подписи для ЭДО, необходимо увеличить. Сертификат, полученный с помощью 1С:Подписи, не предназначен для отправки регламентированной отчетности в контролирующие органы в электронном виде через телекоммуникационные каналы связи и для участия в торгах на федеральных и коммерческих электронных торговых площадках.</p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
            <h4>Поддержка пользователей.</h4>
            <p>После активации сервиса 1С:ИТС Отраслевой,  в дополнение к предоставляемым в рамках основного договора 1С:ИТС услугам, пользователям будут доступны следующие услуги и сервисы:</p>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
            </ul>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
                <li>Подключиться к базам 1С через 1С:Линк не сложнее, чем запустить 1С:Бухгалтерию. В любое время можно как включить доступ, так и отключить его.</li>
                <li>Передаваемые данные защищены персональными ключами и сертификатами, которые хранятся только у пользователя. Сервис 1С:Линк не хранит и не дешифрует данные абонента.</li>
                <li>Компьютер абонента не становится уязвимым для атаки хакеров. Для дополнительной защиты можно настраивать список пользователей, имеющих право работать через 1С:Линк.</li>
                <li>Доступ через «1С:Линк» можно настроить самостоятельно, без привлечения специалистов.</li>
                <li>Можно организовать доступ к нескольким информационным базам одновременно.<br>
                    <a class="link-text" href="">Инструкция по работе с 1С:Подписью.</a></li>
            </ul>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Для подключения и использования сервиса 1С:Облачный необходимо подключить программу 1С к официальной поддержке.<br>
            <p>Право на продукт "1С-ЭДО"  предоставляется пользователям на основании лицензионного соглашения с партнером 1С. </p>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <p>Сервис 1С:ИТС Отраслевой можно приобрести через партнеров фирмы «1С» и в интернет-магазине 1С-Online, обратите внимание что стоимость сервиса зависит от выбранного способа приобретения.

                Стоимость сопровождения по сервису 1С:ИТС Отраслевой зависит от сложности разработки и сопровождения Отраслевого ПП (ценовая Категория сервиса), для каждого Отраслевого ПП определена одна Категория. Список решений с Категорией сопровождения по сервису пользователи и партнеры могут найти, соответственно, в Личном кабинете пользователя (по зарегистрированным продуктам) и в Кабинете партнера.</p>
           <p><span>Стоимость сервиса ( в т.ч. электронной поставки) при приобретении через партнеров фирмы «1С»:</span></p>
       <table>
           <thead>
           <tr>
               <th>№</th>
               <th>1С: ИТС ОТРАСЛЕВОЙ</th>
               <th>Период 12 месяцев</th>
               <th>Период 6 месяцев</th>
               <th>Период 3 месяца</th>
               <th>Период 1 месяц</th>
               <th>Льготный на 12 месяцев (схема 8+4)</th>
           </tr>
           </thead>
          <tbody>
          <tr>
              <td>1</td>
              <td>1С:ИТС Отраслевой Базовый</td>
              <td>6000</td>
              <td>3500</td>
              <td>3150</td>
              <td>1650</td>
              <td>750</td>
          </tr>
         <tr>
          <td>1</td>
          <td>1С:ИТС Отраслевой Базовый</td>
          <td>6000</td>
          <td>3500</td>
          <td>3150</td>
          <td>1650</td>
          <td>750</td>
          </tr>
          <tr>
          <td>1</td>
          <td>1С:ИТС Отраслевой Базовый</td>
          <td>6000</td>
          <td>3500</td>
          <td>3150</td>
          <td>1650</td>
          <td>750</td>
          </tr>
          </tbody>
       </table>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p> <p><span>Стоимость сервиса ( в т.ч. электронной поставки) при приобретении через партнеров фирмы «1С»:</span></p>
            <table>
                <thead>
                <tr>
                    <th>№</th>
                    <th>1С: ИТС ОТРАСЛЕВОЙ</th>
                    <th>Период 12 месяцев</th>
                    <th>Период 6 месяцев</th>
                    <th>Период 3 месяца</th>
                    <th>Период 1 месяц</th>
                    <th>Льготный на 12 месяцев (схема 8+4)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>1С:ИТС Отраслевой Базовый</td>
                    <td>6000</td>
                    <td>3500</td>
                    <td>3150</td>
                    <td>1650</td>
                    <td>750</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1С:ИТС Отраслевой Базовый</td>
                    <td>6000</td>
                    <td>3500</td>
                    <td>3150</td>
                    <td>1650</td>
                    <td>750</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1С:ИТС Отраслевой Базовый</td>
                    <td>6000</td>
                    <td>3500</td>
                    <td>3150</td>
                    <td>1650</td>
                    <td>750</td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <p>По вопросам, связанным с работой сервиса, следует обращаться по адресу itsotr@1c.ru.</p>
            <p><span>Координаты линии консультаций разработчиков Решений, сопровождаемых по сервису 1С:ИТС Отраслевой, пользователи и партнеры могут найти, соответственно, в Личном кабинете пользователя (по зарегистрированным продуктам) и в Кабинете партнера.</span></p>
        </section>
        <section class="info">
            <h3>Дополнительно</h3>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
                <li>Подключиться к базам 1С через 1С:Линк не сложнее, чем запустить 1С:Бухгалтерию. В любое время можно как включить доступ, так и отключить его.</li>
                <li>Передаваемые данные защищены персональными ключами и сертификатами, которые хранятся только у пользователя. Сервис 1С:Линк не хранит и не дешифрует данные абонента.</li>
                <li>Компьютер абонента не становится уязвимым для атаки хакеров. Для дополнительной защиты можно настраивать список пользователей, имеющих право работать через 1С:Линк.</li>
                <li>Доступ через «1С:Линк» можно настроить самостоятельно, без привлечения специалистов.</li>
                <li>Можно организовать доступ к нескольким информационным базам одновременно.<br>
                    <a class="link-text" href="">Инструкция по работе с 1С:Подписью.</a></li>
            </ul>
        </section>
    </div>
</div>
</body>
</html>
