@@include('_header.html')
<body>
<div class="container">
    <div class="ITS">
        <section class="description">
            <h3>Описание</h3>
                <p>Информационная система 1С:ИТС создана специально для пользователей "1С:Предприятия" –
                    для руководителей, кадровиков, экономистов, бухгалтеров, бухгалтеров-расчетчиков и
                    IT-специалистов коммерческих организаций. </p>
                <p>В информационной системе 1С:ИТС представлены новости, комментарии и консультации специалистов по
                    вопросам бухгалтерского, налогового и кадрового учета, рекомендации по налогообложению хозяйственных
                    операций, пошаговые инструкции по их отражению в программе, инструкции по составлению бухгалтерской,
                    налоговой отчетности и отчетности по страховым взносам и отправке отчетности в контролирующие органы
                    в электронном виде прямо из 1С:Предприятия.
                </p>
            <p>Информационная система 1С:ИТС состоит из нескольких разделов – см. <a class="link-text" href="">Разделы информационной системы 1С:ИТС</a>.</p>
            <p>Материалы ИС 1С:ИТС оперативно обновляются в Интернете и ежемесячно публикуются на DVD-выпуске. Информационная система доступна в Интернете в режиме 24*7 – круглосуточно,
                без выходных и праздничных дней.</p>
            <p>Информационная система широко применяется в учебном процессе высших и средних учебных организаций, ведущих подготовку специалистов по техническим и экономическим
                специальностям, предполагающим использование программ системы «1С:Предприятие».</p>
<p><a class="link-text" href="">Как работает сервис (видео)</a></p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
                <p>Уникальность информационной системы 1С:ИТС состоит в том, что авторами всех включенных
                    материалов являются разработчики программ "1С:Предприятие", аудиторы и методисты
                    фирмы "1С".</p>
                <p>Эксперты и методисты фирмы 1С ежедневно отслеживают изменения законодательства и разрабатывают методики учета той или иной хозяйственной операции, учета налогов,
                    заполнения деклараций и др. Затем программисты на основании этих методик вносят изменения в программы, а методисты пишут материалы для ИС 1С:ИТС. Таким образом,
                    все хозяйственные ситуации, материалы по налогам и отчетности рассматриваются с двух точек зрения: с позиции законодательства и с позиции применения
                    законодательства в программах 1С с учетом методологии, заложенной в эти программы.</p>
           <p>Используя информационную систему 1С:ИТС, вы постоянно повышаете свою квалификацию, экономите время для решения ежедневных задач эффективно используете свою программу 1С.</p>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Для получения доступа к информационной системе 1С:ИТС необходимо:</p>
            <ul>
                <li>Подключить программу 1С к официальной поддержке. <a class="link-text" href="">Подробнее</a></li>
                <li>Иметь действующий договор ИТС уровня ПРОФ  либо приобрести один из продуктов</li>
                <ul>
                <li>1С:КП ПРОФ</li>
                <li>ИС 1С:ИТС на 12 месяцев</li>
            </ul>
            </ul>
            <p>Информационная система 1С:ИТС состоит из нескольких разделов, которые предназначены для различных категорий пользователей. Перечень разделов ИС 1С:ИТС, к которым имеет доступ пользователь,
                определяется видом заключенного договора 1С:ИТС.</p>
            <p>Справочная информация:</p>
            <ul>
                <li>Информация о регистрации программы доступна в «Личном кабинете» этого портала</li>
                <li><a class="link-text" href="">Проверка наличия действующего 1С:ИТС</a></li>
                <li><a class="link-text" href="">Особые условия заключения договора</a> 1С:ИТС для учебных заведений (1С:ИТС ПРОФ ВУЗ)</li>
            </ul>
            <p><a class="link-text" href="">Выбрать партнера</a> для оформления 1С:ИТС и сопровождения</p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="program">
            <h3>Программы, в которых реализован сервис</h3>
            <p>Информационная система доступна пользователям всех версий программ системы "1С:Предприятие".</p>
        </section>
        <section class="instructions">
            <h3>Инструкции</h3>
            <ul>
                <li>Видеоролик «<a class="link-text" href="">Что такое информационная система 1С:ИТС?</a>»</li>
                <li>Видеоролик «<a class="link-text" href="">Эффективное использование информационной системы 1С:ИТС</a>»</li>
                <li>«<a class="link-text" href="">Как получить доступ к интернет-версии ИТС</a>»</li>
            </ul>
        </section>
        <section class="prices">
            <h3>Цена</h3>
         <p>Информационная система 1С:ИТС состоит из нескольких разделов, которые предназначены для различных категорий пользователей. Перечень разделов ИС 1С:ИТС,
             к которым имеет доступ пользователь, определяется видом заключенного договора.</p>
<p>В составе «1С:КП ПРОФ» доступ предоставляется к к общим разделам для коммерческих организаций и государственных учреждений и не включает доступ к отраслевым разделам (Медицина, Строительство).</p>
<p>По договору уровня ПРОФ доступ предоставляется к следующим разделам:</p>
            <ul>
                <li>По договору 1С:ИТС ПРОФ – доступ ко всем общим разделам информационной системы, не включает доступ к отраслевым разделам (Медицина, Строительство и пр.)</li>
                <li>По договору 1С:ИТС БЮДЖЕТ ПРОФ – доступ к общим разделам информационной системы и разделу «Учет в государственных учреждениях»</li>
                <li>По договору 1С:ИТС Строительство – доступ к общим разделам информационной системы и разделу «Строительство и ЖКХ»</li>
                <li>По договору 1С:ИТС Медицина – доступ к общим разделам информационной системы, разделам «Медицина» и «Учет в государственных учреждениях»</li>
            </ul>
<p>По договору уровня ТЕХНО предоставляется ограниченный доступ к технической документации.</p>
            <p>«ИС 1С:ИТС на 12 месяцев».
                Лицензия дает право доступа к общим разделам для коммерческих организаций и не включает доступ к отраслевым разделам (Медицина, Строительство).
                Цена: 16 800 руб. в год</p>
            <p>В целях поддержки учебного процесса, ориентированного на фундаментальную подготовку молодых специалистов, чья дальнейшая работа будет связана с активным использованием продуктов
                системы 1С:Предприятие, всем учебным заведениям доступ к информационной системе 1С:ИТС предоставляется бесплатно.</p>
<p>Справочная информация:</p>
            <ul>
                <li><a class="link-text" href="">Что входит в состав 1С:ИТС.</a></li>
                <li><a class="link-text" href="">Рекомендованная стоимость 1С:ИТС.</a></li>
                <li><a class="link-text" href="">Особые условия заключения договора 1С:ИТС для учебных заведений (1С:ИТС ПРОФ ВУЗ).</a></li>
            </ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
                <p>С вопросами по получению доступа и работе с информационной системой 1С:ИТС – <a class="link-text" href="">web-its@1c.ru</a></p>
        </section>
    </div>
</div>
</body>
</html>
