@@include('_header.html')
<body>
<div class="container">
    <div class="lecture">
        <section class="description">
            <h3>Описание</h3>
            <p>1С:Лекторий – это регулярные тематические семинары экспертов и разработчиков фирмы "1С", а также приглашенных специалистов контролирующих органов.</p>
            <p>Семинары-встречи проходят еженедельно в фирме «1С» – по адресу ул. Селезневская, 34, 100 м от м. «Достоевская» (см.
                <a class="link-text" href="">схему проезда</a>).
                Полные видеозаписи семинаров размещаются на сайте <a class="link-text" href="">информационной системы 1С:ИТС</a>.
            </p>
            <p>Цели 1С:Лектория – оперативно и в удобной форме рассматривать:</p>
            <ul>
                <li>вопросы изменения законодательства и их отражение в программах "1С";</li>
                <li>наиболее актуальные проблемы, возникающие у практикующих бухгалтеров и кадровых специалистов.</li>
            </ul>
            <p>Каждый семинар состоит из двух частей: первая посвящена нормативному регулированию рассматриваемого вопроса, а вторая – тому, как это реализовано в программах. </p>
            <p>Общайтесь, задавайте вопросы и получайте ответы и рекомендации.</p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
           <ul>
               <li>1С:Лекторий – это уникальная возможность пообщаться с экспертами и разработчиками фирмы «1С», получить достоверную информацию «из первых уст».</li>
               <li>Видеозаписи семинаров доступны постоянно <a class="link-text" href="">на сайте информационной системы 1С:ИТС</a>, к ним можно обратиться в любое удобное время.</li>
           </ul>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Очные семинары в фирме «1С» могут посещать все желающие при предъявлении распечатанного приглашения.</p>
            <p>ИПриглашения предоставляются бесплатно – для пользователей 1С:ИТС уровня ПРОФ (до трех человек от одной организации).</p>
            <p>Справочная информация:</p>
            <p>Стоимость приглашений для остальных категорий слушателей указана в разделе «Стоимость». Видеозаписи семинаров доступны только пользователям 1С:ИТС уровня ПРОФ
                <a class="link-text" href="">на сайте информационной системы 1С:ИТС</a>.</p>
            <p>Справочная информация:</p>
            <ul>
                <li><a class="link-text" href="">Проверка наличия действующего 1С:ИТС</a></li>
                <li><a class="link-text" href="">Выбрать партнера для оформления 1С:ИТС и сопровождения</a></li>
            </ul>
        </section>
        <section class="instructions">
            <h3>Инструкции</h3>
            <ul>
                <li>Для регистрации на семинары и просмотра видео необходимо получить доступ к материалам сайта 1С:ИТС (информационной системы 1С:ИТС).</li>
                <li><a class="link-text" href="">ЭИнструкция о том, как получить доступ к онлайн-версии информационной системы 1С:ИТС</a></li>
            </ul>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <p>Очные семинары в фирме «1С» могут посещать все желающие при предъявлении распечатанного приглашения. </p>
            <p>Приглашения предоставляются бесплатно – для пользователей 1С:ИТС уровня ПРОФ (до трех человек от одной организации).</p>
          <p>Стоимость одного приглашения на один семинар для остальных категорий слушателей составляет 900 руб. </p>
           <p>Справочная информация: </p>
            <ul>
                <li><a class="link-text" href="">Что входит в состав 1С:ИТС.</a></li>
                <li><a class="link-text" href="">Рекомендованная стоимость 1С:ИТС.</a></li>
            </ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <p>С вопросами по получению доступа и работе с информационной системой 1С:ИТС – <a class="link-text" href="">web-its@1c.ru</a></p>
        </section>
    </div>
</div>
</body>
</html>
