@@include('_header.html')
<body>
<div class="container">
    <div class="link">
        <section class="description">
            <h3>Описание</h3>
            <p>1С:Линк – простой способ организации удаленного подключения через Интернет к приложениям 1С, установленным на компьютере или сервере пользователя. Сервис рекомендуется для тех, кто хочет работать со своими программами через Интернет, но перенести свои данные в «облако» не готов – по одной или нескольким причинам:</p>
           <ul>
               <li>«1С:Предприятие» настроено (кастомизировано) под потребности пользователя, и перенос этих настроек в типовой облачный сервис невозможен; </li>
               <li>Пользователи не готовы отдавать свои базы в «облака», так как привычнее хранить их на своем компьютере или на сервере организации;</li>
               <li>Пользователи не хотят тратить время и деньги на настройку веб-сервера, приобретение дополнительного компьютера/сервера и программного обеспечения для самостоятельной организации удаленного подключения. </li>
           </ul>
            <p>Сервис обеспечивает шифрованный канал доступа (туннель) к опубликованным на локальном веб-сервере файловым и серверным информационным базам приложений «1С:Предприятия 8». Через один туннель можно организовать удаленный доступ для нескольких пользователей к нескольким информационным базам. Количество пользователей, работающих одновременно, ограничено количеством клиентских лицензий.</p>
            <p>Сервис доступен в режиме 24*7 круглосуточно без выходных и праздничных дней.</p>
            <p><a class="link-text" href="">Получить тестовый период</a></p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
                <li>Подключиться к базам 1С через 1С:Линк не сложнее, чем запустить 1С:Бухгалтерию. В любое время можно как включить доступ, так и отключить его.</li>
                <li>Передаваемые данные защищены персональными ключами и сертификатами, которые хранятся только у пользователя. Сервис 1С:Линк не хранит и не дешифрует данные абонента.</li>
                <li>Компьютер абонента не становится уязвимым для атаки хакеров. Для дополнительной защиты можно настраивать список пользователей, имеющих право работать через 1С:Линк.</li>
                <li>Доступ через «1С:Линк» можно настроить самостоятельно, без привлечения специалистов.</li>
                <li>Можно организовать доступ к нескольким информационным базам одновременно.</li>
            </ul>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Для подключения и использования сервиса 1С:Линк необходимо подключить программу 1С к официальной поддержке.<br>
                <a class="link-text" href="">Подробнее</a></p>
            <p>Справочная информация:</p>
            <ul>
                <li>Информация о регистрации программы доступна в  <a class="link-text" href="">Личном кабинете</a>этого портала</li>
                <li><a class="link-text" href="">Проверка наличия действующего 1С:ИТС</a></li>
            </ul>
            <p><a class="link-text" href="">Выбрать партнера для оформления 1С:ИТС и сопровождения</a></p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="program">
            <h3>Программы, в которых реализован сервис</h3>
            <p>Сейчас сервис доступен для следующих приложений:</p>
            <ul>
                <li>1С:Бухгалтерия 8 (редакция 3)</li>
                <li>1С:Управление небольшой фирмой 8</li>
                <li>1С:Управление торговлей 8 (редакция 11)</li>
                <li>1С:Документооборот 8</li>
                <li>1С:CRM 2.0</li>
                <li>а также к другим программам 1С, разработанным в режиме «управляемого приложения».</li>
            </ul>
            <p>Планируется включения сервиса в другие решения «1С:Предприятия 8».</p>
            <p>В базовых версиях решений «1С:Предприятие» сервис не поддерживается.</p>
        </section>
        <section class="instructions">
            <h3>Инструкции</h3>
            <p>Для подключения и настройки сервиса рекомендуется обратиться к партнеру, оказывающему информационно-технологического сопровождение.</p>
            <p>Инструкции опубликованы на <a class="link-text" href="">сайте</a></p>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <p><span>"Агент 1С:Линк 2"</span>– возможность организовать доступ к двум информационным базам 1С, расположенным на одном компьютере:</p>
           <table>
               <tbody>
               <tr>
                   <td>Число месяцев</td>
                   <td>1</td>
                   <td>2</td>
                   <td>3</td>
                   <td>4</td>
                   <td>5</td>
                   <td>6</td>
               </tr>
               <tr>
                   <td>Стоимость</td>
                   <td>760</td>
                   <td>1490</td>
                   <td>2200</td>
                   <td>2890</td>
                   <td>3550</td>
                   <td>4190</td>
               </tr>
               <tr>
                   <td>Число месяцев</td>
                   <td>1</td>
                   <td>2</td>
                   <td>3</td>
                   <td>4</td>
                   <td>5</td>
                   <td>6</td>
               </tr>
               <tr>
                   <td>Стоимость</td>
                   <td>760</td>
                   <td>1490</td>
                   <td>2200</td>
                   <td>2890</td>
                   <td>3550</td>
                   <td>4190</td>
               </tr>
               </tbody>
           </table>
            <p><span>"Агент 1С:Линк. Расширение на 5 баз" </span>– возможность организовать доступ к дополнительным пяти информационным базам в рамках одного подключения 1С:Линк:</p>
        <table></table>
            По договору <span>ИТС</span> уровня <span>ПРОФ</span> лицензионный продукт "Агент 1С:Линк 2" предоставляется пользователям бесплатно. К договорам сопровождения уровня ПРОФ относятся:
        <ul>
            <li>1С: ИТС ПРОФ</li>
            <li>1С: ИТС Бюджет ПРОФ</li>
            <li>1С: ИТС Строительство</li>
            <li>1С: ИТС Медицина</li>
        </ul>
            <p>С подробной информацией об условиях использования можно ознакомиться в следующих информационных письмах:</p>
       <ul>
           <li><a class="link-text" href="">Информация для пользователей и партнеров №19589 от 26.02.2015</a></li>
           <li><a class="link-text" href="">Информация для партнеров №19590 от 26.02.2015</a></li>
       </ul>
            <p>
            <strong>
                <a class="service" href="">Заказать сервис</a>
            </strong>
        </p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <p>С вопросами по получению доступа и работе с информационной системой 1С:ИТС – <a class="link-text" href="">web-its@1c.ru</a></p>
        </section>
    </div>
</div>
</body>
</html>
