@@include('_header.html')
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 Program-Update">
            <div class="appElement">
            <a class="appLogo shadowed" href="program_update.html"><img src="img/icon_1C-Program-update.png" alt=""></a>
            <div class="appContent">
                <a href="program_update.html">
                    <h4>1С:Обновление программ</h4>
                </a>
                <p>Получение обновлений прикладных решений (конфигураций) и технологической платформы, информации о планируемых релизах.</p>
            </div>
        </div>
        </div>
        <div class="col-12 col-lg-6 Goods">
            <div class="appElement">
            <a class="appLogo shadowed" href="goods.html"><img src="img/icon_1C-Goods.png" alt=""></a>
            <div class="appContent">
                <a href="goods.html">
                    <h4>1С-Товары</h4>
                </a>
                <p>Контроль товарных остатков и автоматизация заказа товаров. Анализ работы розничного магазина. Готовый каталог товаров для розничных магазинов в программах 1С.</p>
            </div>
        </div>
        </div>
        <div class="col-12 col-lg-6 Counteragent">
            <div class="appElement">
                <a class="appLogo shadowed" href="counteragent.html"><img src="img/icon_1C-Counteragent.png" alt=""></a>
                <div class="appContent">
                    <a href="counteragent.html">
                        <h4>1С:Контрагент</h4>
                    </a>
                    <p>Быстрая проверка информации о контрагентах, автоматическое заполнение реквизитов контрагентов в различных документах и другие полезные функции</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 OFD">
            <div class="appElement">
                <a class="appLogo shadowed" href="ofd.html"><img src="img/icon_1C-OFD.png" alt=""></a>
                <div class="appContent">
                    <a href="ofd.html">
                        <h4>1С-ОФД</h4>
                    </a>
                    <p>Подключение к операторам фискальных данных (ОФД) в соответствии с законом 54-ФЗ, квалифицированная поддержка партнерами 1С при переходе на новый порядок применения контрольно-кассовой техники.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Spark-risks">
            <div class="appElement">
                <a class="appLogo shadowed" href="spark-risks.html"><img src="img/icon_1C-Spark-risks.png" alt=""></a>
                <div class="appContent">
                    <a href="spark-risks.html">
                        <h4>1СПАРК Риски</h4>
                    </a>
                    <p>Оценка надежности и мониторинг контрагентов в программах 1С для принятия взвешенных решений о сотрудничестве и минимизации налоговых рисков.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 ITS">
            <div class="appElement">
                <a class="appLogo shadowed" href="its.html"><img src="img/icon_1C-ITS.png" alt=""></a>
                <div class="appContent">
                    <a href="its.html">
                        <h4>Информационная система 1С:ИТС</h4>
                    </a>
                    <p>Самый полный информационный ресурс для людей, которые работают с программами «1С» - справочники, методики, руководства, консультации по программам и законодательству.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Reporting">
            <div class="appElement">
                <a class="appLogo shadowed" href="reporting.html"><img src="img/icon_1C-Reporting.png" alt=""></a>
                <div class="appContent">
                    <a href="reporting.html">
                        <h4>1С-Отчетность</h4>
                    </a>
                    <p>Быстрая и удобная подготовка и отправка регламентированной отчетности прямо из программ «1С», а также поддержка других видов электронного документооборота с контролирующими органами.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Lecture">
            <div class="appElement">
                <a class="appLogo shadowed" href="lecture.html"><img src="img/icon_1C-Lecture-hall.png" alt=""></a>
                <div class="appContent">
                    <a href="lecture.html">
                        <h4>1С:Лекторий</h4>
                    </a>
                    <p>Регулярные семинары по законодательству и его отражению в программах «1С» – в очной форме и в формате видеолекций.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Helpdesc">
            <div class="appElement">
                <a class="appLogo shadowed" href="helpdesc.html"><img src="img/icon_1C-Helpdesc.png" alt=""></a>
                <div class="appContent">
                    <a href="helpdesc.html">
                        <h4>Линия консультаций</h4>
                    </a>
                    <p>Консультации специалистов Службы технической поддержки по «1С:Предприятию» и обслуживающего партнера по телефону и электронной почте.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Enterprise">
            <div class="appElement">
                <a class="appLogo shadowed" href="enterprise.html"><img src="img/icon_1C-Enterprise.png" alt=""></a>
                <div class="appContent">
                    <a href="enterprise.html">
                        <h4>1С:Предприятие через Интернет</h4>
                    </a>
                    <p>«Облачный» сервис фирмы 1С для работы с популярными программами «1С» через Интернет, который доступен круглосуточно из любой точки мира.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Auditor">
            <div class="appElement">
                <a class="appLogo shadowed" href="auditor.html"><img src="img/icon_1C-Auditor.png" alt=""></a>
                <div class="appContent">
                    <a href="auditor.html">
                        <h4>Отвечает аудитор</h4>
                    </a>
                    <p>Персональные письменные консультации от экспертов, аудиторов и методистов «1С» по вопросам бухгалтерского налогового и кадрового учета.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Link">
            <div class="appElement">
                <a class="appLogo shadowed" href="link.html"><img src="img/icon_1C-Link.png" alt=""></a>
                <div class="appContent">
                    <a href="link.html">
                        <h4>1С:Линк</h4>
                    </a>
                    <p>Простой способ организовать безопасный удаленный доступ через Интернет к программам (информационным базам) 1С:Предприятия, установленным на компьютере пользователя.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Cloud">
            <div class="appElement">
                <a class="appLogo shadowed" href="cloud.html"><img src="img/icon_1C-Cloud-backup.png" alt=""></a>
                <div class="appContent">
                    <a href="cloud.html">
                        <h4>1С:Облачный архив</h4>
                    </a>
                    <p>Резервное копирование информационных баз в облачное хранилище данных «1С», с возможностью быстрого восстановления информации в случае повреждения данных.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Taxcom">
            <div class="appElement">
                <a class="appLogo shadowed" href="taxcom.html"><img src="img/icon_1C-Taxcom.png" alt=""></a>
                <div class="appContent">
                    <a href="taxcom.html">
                        <h4>1С-Такском</h4>
                    </a>
                    <p>Обмен счетами-фактурами и другими юридически значимыми документами с поставщиками, покупателями и прочими контрагентами в электронной форме прямо из программ «1С».</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Sign">
            <div class="appElement">
                <a class="appLogo shadowed" href="sign.html"><img src="img/icon_1C-Sign.png" alt=""></a>
                <div class="appContent">
                    <a href="sign.html">
                        <h4>1С:Подпись</h4>
                    </a>
                    <p>Удобный способ получить квалифицированный сертификат электронной подписи для обмена юридически значимыми электронными документами прямо в программе 1С по доступной цене</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 EDO">
            <div class="appElement">
                <a class="appLogo shadowed" href="edo.html"><img src="img/icon_1C-Edo.png" alt=""></a>
                <div class="appContent">
                    <a href="edo.html">
                        <h4>1С-ЭДО</h4>
                    </a>
                    <p>Обмен счетами-фактурами и другими юридически значимыми документами с поставщиками, покупателями и прочими контрагентами в электронной форме прямо из программ «1С» через одного или нескольких операторов электронного документооборота, поддерживающих технологию «1С-ЭДО».</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 UMI">
            <div class="appElement">
                <a class="appLogo shadowed" href="umi.html"><img src="img/icon_1C-UMI.png" alt=""></a>
                <div class="appContent">
                    <a href="umi.html">
                        <h4>1C-UMI</h4>
                    </a>
                    <p>Готовые сайты для всех типов бизнеса: для специалистов, компаний, а также лендинги и интернет-магазины.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Industry">
            <div class="appElement">
                <a class="appLogo shadowed" href="industry.html"><img src="img/icon_1C-Industry-subscription.png" alt=""></a>
                <div class="appContent">
                    <a href="industry.html">
                        <h4>1С:ИТС Отраслевой</h4>
                    </a>
                    <p>Сервис, входящий в состав комплексной поддержки 1С:ИТС, который предназначен для сопровождения пользователей определенных отраслевых и специализированных решений.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Bn">
            <div class="appElement">
                <a class="appLogo shadowed" href="bn.html"><img src="img/icon_1C-Bn.png" alt=""></a>
                <div class="appContent">
                    <a href="bn.html">
                        <h4>ЭДО без электронной подписи для участников 1С:Бизнес-сеть</h4>
                    </a>
                    <p>Обмен электронными документами без электронной подписи между пользователями программ «1С».</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Bn-TradeOffers">
            <div class="appElement">
                <a class="appLogo shadowed" href="bn-trade.html"><img src="img/icon_1C-Bn-TradeOffers.png" alt=""></a>
                <div class="appContent">
                    <a href="bn-trade.html">
                        <h4>1С:Бизнес-сеть. Торговые предложения</h4>
                    </a>
                    <p>Торговая площадка в программах «1С:Предприятие» для поставщиков и покупателей (закупщиков).</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Etp">
            <div class="appElement">
                <a class="appLogo shadowed" href="etp.html"><img src="img/icon_1C-Etp.png" alt=""></a>
                <div class="appContent">
                    <a href="etp.html">
                        <h4>1С-ЭТП</h4>
                    </a>
                    <p>Семейство сервисов для удобной работы на электронных торговых площадках, включая получение сертификата электронной подписи для ЭТП.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Accounts-check">
            <div class="appElement">
                <a class="appLogo shadowed" href="accounts-check.html"><img src="img/icon_1C-Accounts-check.png" alt=""></a>
                <div class="appContent">
                    <a href="accounts-check.html">
                        <h4>1С:Сверка</h4>
                    </a>
                    <p>Автоматическая сверка счетов-фактур с контрагентами непосредственно в программе 1С в любое удобное время – как в процессе ведения учета, так и перед отправкой декларации в ФНС.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Direct-bank">
            <div class="appElement">
                <a class="appLogo shadowed" href="direct-bank.html"><img src="img/icon_1C-Direct-bank.png" alt=""></a>
                <div class="appContent">
                    <a href="direct-bank.html">
                        <h4>1С:ДиректБанк</h4>
                    </a>
                    <p>Прямой обмен электронными документами с банком. Позволяет отправлять платежи в банк и получать выписки по расчетным счетам непосредственно из программ «1С», без переключения в систему «Клиент-банк».</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Financial-control">
            <div class="appElement">
                <a class="appLogo shadowed" href="financial-control.html"><img src="img/icon_1C-Financial-control.png" alt=""></a>
                <div class="appContent">
                    <a href="financial-control.html">
                        <h4>1С-Финконтроль</h4>
                    </a>
                    <p>Организация внутреннего контроля и автоматическая проверка правильности ведения учета в казенных учреждениях и органах государственной власти, а также в бюджетных и автономных учреждениях.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 ABBYY">
            <div class="appElement">
                <a class="appLogo shadowed" href="abbyy.html"><img src="img/icon_1%D0%A1-ABBYY-Comparator.png" alt=""></a>
                <div class="appContent">
                    <a href="abbyy.html">
                        <h4>1C-ABBYY Comparator</h4>
                    </a>
                    <p>Сравнение документов в текстовых и графических форматах в различных комбинациях, выявление значимых несоответствий, отчет о различиях.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 Nomenclature">
            <div class="appElement">
                <a class="appLogo shadowed" href="nomenclature.html"><img src="img/icon_1C-Nomenclature.png" alt=""></a>
                <div class="appContent">
                    <a href="nomenclature.html">
                        <h4>1С:Номенклатура</h4>
                    </a>
                    <p>Каталог стандартизированных описаний товаров в "1С:Предприятии 8".</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>