@@include('_header.html')
<body>
<div class="container">
    <div class="nomenclature">
        <section class="description">
            <h3>Описание</h3>
            <p>1С:Облачный архив (backup.1c.ru) – это инструмент для защиты баз данных «1С:Предприятие 8» посредством автоматизированного периодического копирования и архивирования на удаленных серверах в «облачном» хранилище.
            <p>Высокая степень защиты баз от потери или несанкционированного доступа обеспечивается использованием серверов размещенных в специализированном дата-центре на территории Российской Федерации, защищенным каналом при передаче данных, а также доступом к архивным копиям по паролю и логину. «1С:Облачный архив» создан с использованием надежного и проверенного оборудования. Использование специального программного обеспечения, осуществляющего распределенное архивирование данных, повышает надежность. Поэтому, несмотря на любую непредвиденную ситуацию в офисе пользователя (пожар, затопление, утрата компьютера и т.п.), его данные останутся в сохранности, и в любой момент он сможет получить доступ к ним с любого компьютера или устройства, подключенного к Интернет.</p>
          <p><span>Назначение «1С:Номенклатура»</span></p>
            <ul>
                <li>Применение предприятием в своей деятельности стандартизированного описания товаров и услуг для организации электронного взаимодействия в B2B-сегменте.</li>
                <li>Применение предприятием в своей деятельности стандартизированного описания товаров и услуг для организации электронного взаимодействия в B2B-сегменте.</li>
                <li>Применение предприятием в своей деятельности стандартизированного описания товаров и услуг для организации электронного взаимодействия в B2B-сегменте.</li>
                <li>Применение предприятием в своей деятельности стандартизированного описания товаров и услуг для организации электронного взаимодействия в B2B-сегменте.</li>
            </ul>
            <p><span>Подключение «1C:Номенклатура» — 10 000 карточек бесплатно!</span></p>
            <p>озможность подключения сервиса «1C:Номенклатура», будет встроена непосредственно в типовые решения «1С» и не потребует трудоемкой настройки.

                В первую очередь сервис вышел в составе программного продукта  «1С:Розница», в дальнейшем планируется включение сервиса и в другие решения на платформе «1С:Предприятие 8».
            </p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
            <p><span>Планируемые возможности «1С:Номенклатура» в прикладных решениях 1С:</span></p>
            <ul>Порядок в справочнике номенклатуры:
                <li>проверка существующей номенклатуры;</li>
                <li>получение корректных описаний, значений характеристик и изображений товара.</li>
            </ul>
            <p><span>Планируемые возможности «1С:Номенклатура» в прикладных решениях 1С:</span></p>
            <ul>Порядок в справочнике номенклатуры:
                <li>проверка существующей номенклатуры;</li>
                <li>получение корректных описаний, значений характеристик и изображений товара.</li>
            </ul>
            <p><span>Планируемые возможности «1С:Номенклатура» в прикладных решениях 1С:</span></p>
            <ul>Порядок в справочнике номенклатуры:
                <li>проверка существующей номенклатуры;</li>
                <li>получение корректных описаний, значений характеристик и изображений товара.</li>
            </ul>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
           <p>Для производителей – сокращение времени на ручной труд ввода данных о товарах.

               Для покупателей – удобный поиск и закупка товаров производителей, информация о товарах становится доступна в программных продуктах «1С».</p>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Справочная информация:</p>
            <ul>
                <li>Информация о регистрации программы доступна в  <a class="link-text" href="">Личном кабинете</a>этого портала</li>
                <li><a class="link-text" href="">Проверка наличия действующего 1С:ИТС</a></li>
            </ul>
            <p><a class="link-text" href="">Выбрать партнера для оформления 1С:ИТС и сопровождения</a></p>
            <ul>
                <li>Приобрести лицензию «1C-ABBYY Comparator для 1С (лицензия на 3 месяца)», «1C-ABBYY Comparator для 1С (лицензия на 6 месяцев)» или  «1C-ABBYY Comparator для 1С (лицензия на 12 месяцев)».
                </li>
                <li>Приобрести лицензию «1C-ABBYY Comparator для 1С (лицензия на 3 месяца)», «1C-ABBYY Comparator для 1С (лицензия на 6 месяцев)» или  «1C-ABBYY Comparator для 1С (лицензия на 12 месяцев)».
                </li>
                <li>Приобрести лицензию «1C-ABBYY Comparator для 1С (лицензия на 3 месяца)», «1C-ABBYY Comparator для 1С (лицензия на 6 месяцев)» или  «1C-ABBYY Comparator для 1С (лицензия на 12 месяцев)».
                </li>
            </ul>
        </section>
        <section class="instructions">
            <h3>Инструкции</h3>
                <p>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</p>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <table>
                <thead>
                <tr>
                    <th style="width:15%">Артикул</th>
                    <th>Название продукта</th>
                    <th style="width:20%">Рекомендованиая розничная цена, руб.</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-label="Артикул">2900001607162</td>
                    <td data-label="Название продукта">"Агент резервного копирования 1С:Облачный архив. Стандарт на 1
                        месяц"
                    </td>
                    <td data-label="Рекомендованная розничная цена, руб.">844</td>
                </tr>
                <tr>
                    <td data-label="Артикул">2900001607162</td>
                    <td data-label="Название продукта">"Агент резервного копирования 1С:Облачный архив. Стандарт на 1
                        месяц"
                    </td>
                    <td data-label="Рекомендованная розничная цена, руб.">844</td>
                </tr>
                </tbody>
            </table>
            <p>Указанные тарифы действуют сроком 1 год.</p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <p>С вопросами по получению доступа и работе с информационной системой 1С:ИТС – <a class="link-text" href="">web-its@1c.ru</a></p>
        </section>
    </div>
</div>
</body>
</html>
