@@include('_header.html')
<body>
<div class="container">
    <div class="app_OFD">
        <section class="features">
            <h3>Чем поможет сервис</h3>
            <div class="markdown">
                <p>
                    До 1 июля 2018 года организации на ЕНВД и индивидуальные предприниматели с наемными сотрудниками, занятые в розничной торговле (в том числе вендинг) и в общепите, а также интернет-магазины, принимающие электронные платежи должны выполнить требование новой редакции закона 54-ФЗ:
                </p>
                <ul>
                    <li>приобрести онлайн-кассы;</li>
                    <li>зарегистрировать их в ФНС;</li>
                    <li>обеспечить передачу данных о продажах в Федеральную налоговую службу. Передача данных осуществляется через оператора фискальных данных (ОФД).</li>
                </ul>
                <p>
                    С 1 июля 2019 года на онлайн-кассы должны перейти все организации и индивидуальные предприниматели, в том числе оказывающие услуги населению.
                </p>
                <p>
                    <a class="link-text" href="">Уточнить сроки перехода для своего типа бизнеса и системы налогообложения>></a>
                </p>
                <p>
                    Организации и индивидуальные предприниматели, которые перешли на новые онлайн-кассы с 1 июля 2017 года, обязаны регулярно продлевать договор с ОФД.
                </p>
                <p>
                    Помощь при переходе на новый порядок применения ККТ оказывают "Центры компетенции по 54-ФЗ". Сертифицированные партнеры фирмы "1С":
                </p>
                <ul>
                    <li>проконсультируют по выбору новой онлайн-кассы;</li>
                    <li>окажут помощь в получении электронной подписи для регистрации кассы в ФНС;</li>
                    <li>подключат к выбранному оператору фискальных данных;</li>
                    <li>настроят сервисы и программы 1С для прогнозирования спроса, управления ассортиментом и анализа работы розничного магазина;</li>
                    <li>заменят фискальный накопитель и продлят договор с ОФД.</li>
                </ul>
            </div>
        </section>
        <section class="capabilities">
            <h3>Возможности</h3>
            <ul>
                <li>Подбор оптимального тарифа для вашего бизнеса. Пять операторов фискальных данных.</li>
                <li>Комплексный подход: от продажи и настройки ККТ до отправки чеков в ФНС и получения отчета о доставке.</li>
                <li>Интеграция с программными продуктами 1С.</li>
                <li>Любой тарифный план включает:
                <li>передачу фискальных данных в ФНС</li>
                <li>отправку чеков покупателям</li>
                <li>личный кабинет с отчетами о продажах</li>
                </li>
            </ul>
        </section>
            <section class="prices">
                <h3>Цена</h3>
            <p><a class="link-text" href="">Мне нужна консультация по выбору ОФД</a></p>
            <div class="row price">
                <div class="col-9">
                    <h4>Астрал.ОФД</h4>
                    <ul>
                        <li>1500 руб. на 6 мес.; 3000 руб. на 13 мес.; 3500 руб. на 15 мес.; 6500 руб. на 36 мес. за одну кассу.</li>
                    </ul>
                </div>
                <div class="col-3">
                    <a class="button butn-blue" href="">Заказать</a>
                </div>
            </div>
            <div class="row price">
                <div class="col-9">
                    <h4>ОФД-Я</h4>
                    <ul>
                        <li>3000 руб. в год за одну кассу.</li>
                    </ul>
                </div>
                <div class="col-3">
                    <a class="button butn-blue" href="">Заказать</a>
                </div>
            </div>
            <div class="row price">
                <div class="col-9">
                    <h4>Первый ОФД</h4>
                    <ul>
                        <li>900 руб. на 3 мес., 1395 руб. на 12 мес. ("Почековый 1500"); 1700 руб. на 6 мес., 3000 руб. на 13 мес. или 6900 руб. на 36 мес. за одну кассу.</li>
                    </ul>
                </div>
                <div class="col-3">
                    <a class="button butn-blue" href="">Заказать</a>
                </div>
            </div>
                <div class="row price">
                <div class="col-9">
                    <h4>Платформа ОФД</h4>
                    <ul>
                        <li>9300 руб. на 1 мес. , 1700 руб. на 6 мес., 3000 руб. на 12 мес., 3750 руб. на 15 мес. или 6700 руб. на 36 мес. за одну кассу</li>
                    </ul>
                </div>
                <div class="col-3">
                    <a class="button butn-blue" href="">Заказать</a>
                </div>
            </div>
                <div class="row price">
                    <div class="col-9">
                        <h4>OFD.RU</h4>
                        <ul>
                            <li>3000 руб. в год за одну кассу</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <a class="button butn-blue" href="">Заказать</a>
                    </div>
                </div>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <div class="markdown">
               <ul>
                   <li>Бесплатный федеральный номер: 8 800 333 93 13</li>
                   <li>"1С-Коннект": услуга "1С-ОФД: Поддержка клиентов"</li>
                   <li>По электронной почте:</li>
               </ul>
                <p>Будние дни с 07:00 до 20:00, выходные и праздничные дни с 09:00 до 18:00</p>
            </div>
        </section>
        <section class="info">
            <h3>Дополнительно</h3>
            <div class="markdown">
                <ul>
                    <li><a class="link-text" href="">Правовое регулирование применения контрольно-кассовой техники</a></li>
                    <li><a class="link-text" href="">Подробная информация о сроках перехода на онлайн-ККТ>></a></li>
                    <li><a class="link-text" href="">Организация работы с применением онлайн-касс в 1С</a></li>
                    <li><a class="link-text" href="">Реестр контрольно-кассовой техники "Совместимо! Система программ 1С"</a></li>
                    <li><a class="link-text" href="">Инструкции по подключению кассового оборудования</a></li>
                </ul>
            </div>
        </section>
    </div>
</div>
</body>
</html>