@@include('_header.html')
<body>
<div class="container">
<div class="app_Program-update">
    <section class="description">
        <h3>Описание</h3>
        <p>Фирма «1С» обеспечивает постоянное развитие и обновление системы программ «1С:Предприятие 8» в 
            соответствии с требованиями законодательства, деловой практикой, развитием информационных 
            технологий и сервисов, а также производит ограниченное обновление устаревших версий программных 
            продуктов своего производства.</p>
    <p>Сервис «Обновления программ» позволяет:</p>
        <ul>
            <li>Получить информацию о плановом графике выхода новых версий прикладных программ и технологической
                платформы; получить информацию о плановых изменениях функционала, которые будут сделаны в новой версии
                программы;
            </li>
            <li>Узнать какая версия программного продукта актуальна на текущий момент, скачать дистрибутивы для
                обновления вашей версии продукта на актуальную;
            </li>
            <li>Получить информацию о списке ошибок, которые зарегистрированы и будут исправляться в следующих версиях
                программ;
            </li>
            <li>Скачать разные дополнительные файлы, которые рекомендованы разработчиками программных продуктов для использования.
            </li>
        </ul>
        <p>По некоторым программным продуктам в сервисе публикуются предварительные тестовые релизы.
            Они предназначены в основном для партнеров 1С и служат для целей тестирования, предварительного
            ознакомления с новыми возможностями конфигураций, исправлениями ошибок, для апробации работы
            новых релизов на реальных данных. Партнеры, получившие предварительный тестовый релиз конфигурации,
            могут установить этот релиз пользователям, если считают это допустимым, обязательно предупредив пользователя о
            тестовом характере данного релиза и обеспечив сохранность данных пользователя.
        </p>
        <p>
            <strong>
                <a class="service" href="">Заказать сервис</a>
            </strong>
        </p>
    </section>
    <section class="advantages">
        <h3>Преимущества</h3>
        <ul>
            <li>Быстрое получение наиболее актуальных версий используемого программного обеспечения,
                учитывающих последние изменения законодательства:
                <ul>
                    <li>возможность самостоятельного обновления через раздел технической поддержки,</li>
                    <li>возможность дистанционного обновления, выполняемого специалистами партнеров фирмы 1С.</li>
                </ul>
            </li>
            <li>Получение новых механизмов и инструментов в продукте, улучшений имеющихся механизмов, сделанных непосредственно
                разработчиком (снижение затрат на доработки собственными силами).
            </li>
            <li>Снижение налоговых рисков предприятия за счет своевременного обновления механизмов, формул, шаблонов для ведения учета и формирования
                отчетности в соответствии с последними изменениями законодательства.
            </li>
        </ul>
    </section>
    <section class="conditions">
        <h3>Условия получения</h3>
        <p>Для получения доступа к обновлениям программа должна находиться на официальной поддержке.
            <a class="link-text" href="">Подробнее</a>
        </p>
        <p>Спарвочная информация</p>
        <ul>
            <li>Информация о регистрации программ и действующих договорах 1С:ИТС  доступна в <a class="link-text" href="">«Личном кабинете» </a>этого портала.
            </li>
            <li>Проверить возможность получения сервиса обновлений по регистрационному номеру программы можно <a class="link-text" href="">здесь</a>.
            </li>
            <li>Если у Вас нет права получать обновления, <a class="link-text" href="">обратитесь к сертифицированному партнёру Фирмы 1С</a> в Вашем регионе.
            </li>
            <li>Выбрать пакет сервисов и услуг и рассчитать предварительную стоимость сопровождения для Вашей компании можно <a class="link-text" href="">здесь</a>.
            </li>
        </ul>
        <p>
            <strong>
                Как получить файлы обновлений?
            </strong>
        </p>
        <p>Для программ на платформе "1С:Предприятие 8":</p>
        <ul>
            <li>Скачать самостоятельно на <a class="link-text" href="">Портале 1С:ИТС</a></li>
            <li>Настроить <a class="link-text" href="">автоматическое обновление программы 1С через Интернет</a></li>
            <li><a class="link-text" href="">У партнера фирмы "1С"</a></li>
            <li>Получить файлы на DVD- выпуске ИС "1С:ИТС"</li>
        </ul>
        <p>Для программ на платформе "1С:Предприятие 7.7":</p>
            <ul>
                <li>Скачать самостоятельно в <a class="link-text" href="">Личном кабинете ИС "1С:ИТС"</a></li>
                <li><a class="link-text" href="">У партнера фирмы "1С"</a></li>
                <li>Получить файлы на DVD- выпуске ИС "1С:ИТС"</li>
            </ul>
        <p>
            <strong>
                <a class="service" href="">Заказать сервис</a>
            </strong>
        </p>
    </section>
    <section class="instructions">
        <h3>Инструкции</h3>
        <p>
            <a class="link-text" href="">Настройка интернет-поддержки в программах 1С.</a>
        </p>
    </section>
    <section class="prices">
        <p>Получение официальных обновлений включено в состав информационно-технологического сопровождения (1С:ИТС).
            Пользователи базовых версий программ системы «1С:Предприятия 8» могут получить доступ для скачивания обновлений
            с этого портала вне информационно-технологического сопровождения. Пользователи, арендующие программы у партнеров 1С,
            сервис обновлений оплачивают  в составе других услуг по договору аренды. Цену договора определяет партнер.</p>
        <p>Со стоимостью сервиса «ИТС Отраслевой» можно ознакомиться <a class="link-text" href="">здесь</a>.</p>
        <p>Справочная информация:</p>
        <ul>
            <li><a class="link-text" href="">Что входит в состав 1С:ИТС</a></li>
            <li><a class="link-text" href="">Рекомендованная стоимость 1С:ИТС</a> (итоговая стоимость сопровождения формируется партнером фирмы 1С на основании его прейскурантов и тарифных планов).</li>
        </ul>
        <p>
            <strong>
                <a class="service" href="">Заказать сервис</a>
            </strong>
        </p>
    </section>
  <section>
      <h3>Техподдержка</h3>
      <p>По вопросам, связанным с работой сервиса, следует обращаться по адресу webits-info@1c.ru. Просьба в теме письма указать "Интернет-поддержка".</p>
  <p>Если вы установили тестовый релиз программного продукта, то сообщения об ошибках, выявленных в процессе тестирования, следует посылать на адрес электронной почты:</p>
  <ul>
      <li>конфигурации для РФ</li>
      <li>конфигурации для Украины</li>
      <li>конфигурации для Казахстана</li>
  </ul>
      <p>Поддержка тестовых версий осуществляется только для партнеров 1С в рамках партнерской конференции. После выпуска финального релиза сообщения об ошибках, а также вопросы, пожелания и рекомендации следует посылать в обычном порядке на адрес:</p>
  <ul>
      <li>конфигурации для РФ</li>
      <li>конфигурации для Украины</li>
      <li>конфигурации для Казахстана</li>
  </ul>
  </section>
</div>
</div>
</body>
</html>