@@include('_header.html')
<body>
<div class="container">
    <div class="reporting">
        <section class="description">
            <h3>Описание</h3>
            <p>«1С-Отчетность» – это сервис, предназначенный для отправки электронной отчетности и других видов
                электронного документооборота между предприятием и контролирующими органами по телекоммуникационным
                каналам связи непосредственно из программ «1С».</p>
            <p>Функционал «1С-Отчетности» обеспечивает удобный способ установки криптосредств и подключения к сервису
                электронной отчетности прямо на рабочем месте, из привычного интерфейса программ «1С» с помощью пошагового
                "Мастера подключения".
            </p>
            <p>Возможности сервиса «1С-Отчетность»:</p>
            <ul>
                <li>Отправка отчетности в ФНС, ПФР, ФСС, Росстат, Росалкогольрегулирование и Росприроднадзор и ФТС;</li>
                <li> Мониторинг доставки отчетности;</li>
                <li>Неформализованная переписка с ФНС, ПФР и Росстат;</li>
                <li>Сверки с налоговой (запросы ИОН);</li>
                <li>Сверки с ПФР (запросы ИОС);</li>
                <li>Отправка реестров больничных листов в ФСС;</li>
                <li>Получение требований и уведомлений;</li>
                <li>Отправка электронных документов в ответ на требования ФНС;</li>
                <li>Получение юридически значимых выписок из ЕГРЮЛ/ЕГРИП с электронной подписью ФНС;</li>
                <li>Возможность формирования пакетов с отчетностью в формате для банков и прочих получателей;</li>
                <li>Ретроконверсия (процесс перевода ПФР бумажного архива в электронный вид);</li>
                <li>Отправка уведомлений о контролируемых сделках;</li>
                <li>Онлайн-проверка регламентированной отчетности перед отправкой в контролирующие органы;</li>
                <li>Отправка в контролирующие органы отчетов, подготовленных в других программах;</li>
                <li>Ускоренное продление лицензии абонента, а также перевыпуск сертификата электронной подписи, без визита в офис обслуживающей организации;</li>
                <li>Современный и удобный интерфейс.</li>
            </ul>
            <p>«<a class="link-text" href="">Личный кабинет руководителя</a>» - это веб-приложение, которое предоставляет возможность отслеживать статус
                документооборотов, осуществляемых с помощью "1С-Отчетности", а также просматривать уведомления о получении входящих файлов со стороны контролирующих органов.
                В «Личный кабинет руководителя» можно войти с любого компьютера либо мобильного телефона. Логин и пароль для доступа предоставляется партнером «1С».</p>
            <p>Сервис мгновенного SMS-оповещения информирует пользователя о статусах переданных отчетов, о поступлении документов со стороны контролирующих органов и др. </p>
            <p>Встроенная в программу «1С» диагностика сервиса «1С-Отчетность» позволяет проверить готовность к выполнению операций, связанных с работой сервиса и взаимодействием
                с контролирующими органами. По результатам диагностики отображаются рекомендации для устранения проблем самостоятельно. Есть возможность отправки отчёта в службу поддержки.</p>
            <p>Сервис автозаполнения и контроля актуальности реквизитов для перечисления налогов, сборов и взносов упростит ввод сведений о контролирующих
                органах. При заполнении или изменении сведений об организации или ИП сервис автоматически определит государственные органы, в которых организация или ИП состоит
                на учете (ИФНС, отделение ПФР, ФСС). Данные о регистрации в госорганах занесутся в реквизиты организации или ИП. Также, имеется возможность заполнять данные о государственном
                органе и платежных реквизитах автоматически по коду налогового органа, коду подчиненности ФСС или коду территориального органа ПФР. Помимо этого, с помощью сервиса, в
                справочнике "Контрагенты" автоматически создаются контрагенты с видом "Государственный орган". Для государственных органов при создании определяются и сохраняются
                реквизиты для уплаты налогов и платежей.</p>
            <p>Сервис доступен в режиме 24*7 круглосуточно без выходных и праздничных дней.</p>
            <p>Информация о сервисе:</p>
            <ul>
                <li><a class="link-text" href="">http://v8.1c.ru/1c-otchetnost/</a></li>
                <li><a class="link-text" href="">http://its.1c.ru/db/partnerits</a></li>
                <li><a class="link-text" href="">Как работает сервис (видео)</a></li>
            </ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
           <ul>
               <li>Сдача отчетности в контролирующие органы прямо из 1С без переключения на другие приложения и без повторного заполнения форм;</li>
               <li>Не нужна установка дополнительного программного обеспечения, все действия производятся в хорошо знакомой каждому бухгалтеру программе 1С;</li>
               <li>Подключение к сервису происходит непосредственно на рабочем месте пользователя, без визита в офис оператора;</li>
               <li>В стоимость годового обслуживания включено предоставление электронной подписи, бесплатной СКЗИ VipNet и возможность произвести внеплановую смену
                   электронной подписи неограниченное количество раз. Смена сертификата выполняется дистанционно, без посещения офиса оператора;</li>
               <li>Единая стоимость годового обслуживания включает все возможности сервиса. В том числе можно без дополнительной оплаты подключать несколько инспекций
                    ФНС для сдачи отчётности от обособленных подразделений одного юридического лица;</li>
               <li>Федеральная круглосуточная техническая поддержка пользователей.</li>
           </ul>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Право на доступ к «1С-Отчетности» предоставляется пользователям на основании лицензионного соглашения с партнером «1С». </p>
            <p>Информационная система 1С:ИТС состоит из нескольких разделов, которые предназначены для различных категорий пользователей. Перечень разделов ИС 1С:ИТС, к которым имеет доступ пользователь,
                определяется видом заключенного договора 1С:ИТС.</p>
            <p>Для подключения и использования сервиса необходимо подключить программу 1С к официальной поддержке. <br>
                <a class="link-text" href="">Подробнее</a></p>
            <p>Для пользователей, участников акции <a class="link-text" href="">«Новый бизнес начни с 1С!»</a>, купивших специальные электронные поставки «1С:Бухгалтерии 8» -
                «1С:Бухгалтерия 8 для 1» и «1С:БизнесСтарт», льгота на подключение 1С-Отчетности без дополнительной оплаты на первый год после покупки программы предоставляется тем клиентам,
                которые ранее не пользовались 1С-Отчетностью.<br>
                В состав пакета сервисов <a class="link-text" href="">«СтартЭДО»</a> включено подключение к 1С-Отчетности по специальному тарифу «Верное решение» (отчетность только в ФНС)». </p>
            <p>Справочная информация:</p>
<ul>
    <li>Информация о регистрации программы доступна в «<a class="link-text" href="">Личном кабинете</a>» этого портала</li>
    <li><a class="link-text" href="">Проверка наличия действующего 1С:ИТС</a></li>
    <li><a class="link-text" href="">Выбрать партнера</a> для оформления 1С:ИТС и сопровождения</li>
</ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="program">
            <h3>Программы, в которых реализован сервис</h3>
         <ul>
             <li>1С:Бухгалтерия 8 (версии КОРП, ПРОФ, базовая)</li>
             <li>1С:ERP. Управление предприятием</li>
             <li>1С:Управление производственным предприятием, редакция 1.3</li>
             <li>1С:Комплексная автоматизация</li>
             <li>1С:Бухгалтерия государственного учреждения (версии ПРОФ, базовая)</li>
             <li>1С:Зарплата и управление персоналом (версии КОРП, ПРОФ, базовая)</li>
             <li>1С:Зарплата и кадры бюджетного учреждения</li>
             <li>1С:Налогоплательщик</li>
             <li>1С:Бухгалтерия автономного учреждения (версии КОРП, ПРОФ, базовая)</li>
             <li>1С:Предприниматель 2015</li>
             <li>1С:Отчетность предпринимателя</li>
             <li>1С:Управление небольшой фирмой</li>
             <li>1С:Управление холдингом</li>
         </ul>
           <p>Сервис доступен в отраслевых приложениях, разработанных на основе этих типовых решений, а
               также в конфигурации «1С:Бухгалтерия 7.7».</p>
        </section>
        <section class="instructions">
            <ul>
                <li>Заказать подключение сервиса можно непосредственно из программ 1С:Предприятие.</li>
                <li>Для подключения и настройки сервиса необходимо обратиться к обслуживающему партнеру.</li>
                <li><a class="link-text" href="">Руководство</a> по использованию сервиса.</li>
                <li><a class="link-text" href="">Видеоинструкци</a>я по подключению к сервису.</li>
                <li><a class="link-text" href="">Подключение сервиса</a> «1С-Отчетность» для программ системы «1С:Предприятие 7.7».</li>
                <li><a class="link-text" href="">Составление отчетности</a> в программах 1С.</li>
            </ul>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <p>Действует четыре тарифных зоны на подключение к сервису "1С-Отчетность" юридических лиц и индивидуальных предпринимателей (ИП) в зависимости от региона:</p>
           <table>
               <tbody>
               <tr>
                   <td></td>
                   <td>Зона «1500»</td>
                   <td>Зона «3900»</td>
                   <td>Зона «4900»</td>
                   <td>Зона «5900»</td>
               </tr>
               <tr>
                   <td class="tarif-name">Универсальный тариф для ЮЛ</td>
                   <td>1500</td>
                   <td>3900</td>
                   <td>4900</td>
                   <td>5900</td>
               </tr>
               <tr>
                   <td class="tarif-name">Тариф для ИП</td>
                   <td>1200</td>
                   <td>1500</td>
                   <td>1800</td>
                   <td>2200</td>
               </tr>
               </tbody>
           </table>
            <p><a class="link-text" href="">Узнать, к какой тарифной зоне относится ваш регион</a></p>
           <p>При подключении группы пользователей* предусмотрены скидки.</p>
            <table>
                <tr>
                    <td rowspan="2"></td>
                    <td colspan="4">ЦЕНОВЫЕ ЗОНЫ</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3900</td>
                    <td>4900</td>
                    <td>5900</td>
                </tr>
                <tr>
                    <td class="tarif-name">Группа пользователей от 3 до 5 организаций</td>
                    <td>25%</td>
                    <td>2925</td>
                    <td>3675</td>
                    <td>4425</td>
                </tr>
                <tr>
                <td class="tarif-name">Группа пользователей от 6 до 10 организаций</td>
                <td>40%</td>
                <td>2340</td>
                <td>2940</td>
                <td>3540</td>
                </tr>
                <tr>
                    <td class="tarif-name">Группа пользователей от 11 до 15 организаций</td>
                    <td>50%</td>
                    <td>1950</td>
                    <td>2450</td>
                    <td>2950</td>
                </tr>
                <tr>
                    <td class="tarif-name">Группа пользователей от 16 до 25 организаций</td>
                    <td>60%</td>
                    <td>1560</td>
                    <td>1960</td>
                    <td>2360</td>
                </tr>
                <tr>
                    <td class="tarif-name">Группа пользователей от 26 до 50 организаций</td>
                    <td>70%</td>
                    <td>1170</td>
                    <td>1470</td>
                    <td>1770</td>
                </tr>
                <tr>
                    <td class="tarif-name">Группа пользователей от 51 до 100 организаций</td>
                    <td>75%</td>
                    <td>975</td>
                    <td>1225</td>
                    <td>1475</td>
                </tr>
                <tr>
                    <td class="tarif-name">Группа пользователей свыше 100 организаций</td>
                    <td>80%</td>
                    <td>780</td>
                    <td>980</td>
                    <td>1180</td>
                </tr>
            </table>
            <p><a class="link-text" href="">Узнать, к какой тарифной зоне относится ваш регион</a></p>
            <p>При подключении группы пользователей* предусмотрены скидки.</p>
            <!--<table class="table table-bordered table-responsive table-mobile d-md-none">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td data-title="Группа пользователей">от 3 до 5 организаций</td>-->
                    <!--<td data-title="Скидка">25%</td>-->
                    <!--<td data-title="Ценовая зона 3900">2925</td>-->
                    <!--<td data-title="Ценовая зона 4900">3675</td>-->
                    <!--<td data-title="Ценовая зона 5900">4425</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
            <p>Тариф «Группа пользователей» не применяется для подключения в зоне «1500». Все фирмы в этой зоне подключаются к сервису по обычному тарифу, без скидок.<br>
                Допускается подключение ИП по тарифу «Группа пользователей», но скидки на подключение группы распространяются только на юридические лица.</p>
<p><span>*Группа пользователей</span> – это группа юридических лиц (ИП), заинтересованных в приобретении «1С-Отчетность» и объединяющихся, по какому либо из признаков:</p>
<ul>
    <li>наличие общих учредителей</li>
    <li>наличие централизованной бухгалтерии</li>
    <li>территориальное расположение.</li>
</ul>
<p>При этом отправка отчетности может происходить как с одного рабочего места, так и с разных.</p>
<p>В ряд пакетов информационно-технологического сопровождения: 1С:ИТС уровня ПРОФ, «Новый бизнес начни с 1С!», СтартЭДО (см. выше в разделе
    «Условия получения») включена поддержка отправки отчетности одного юридического лица или индивидуального предпринимателя без дополнительной оплаты.</p>
            <p>В рамках специальной акции до 30.06.2018 года действует специальный тариф «Верное решение», который обеспечивает документооборот только по одному
                направлению - ФНС. Скидки для группы пользователей на данный тарифный план не распространяются.</p>
            <p>Справочная информация: </p>
            <ul>
                <li><a class="link-text" href="">Что входит в состав 1С:ИТС.</a></li>
                <li><a class="link-text" href="">Рекомендованная стоимость 1С:ИТС.</a></li>
            </ul>
            <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <ul>
                <li>Федеральная круглосуточная техническая поддержка пользователей:
                    <ul>
                    <li>пo по технологии 1С-Коннект</li>
                    <li>по телефону 8-800-700-86-68</li>
                    <li>электронной почте 1c@astralnalog.ru</li>
                </ul>
                </li>
                <li><a class="link-text" href="">Вопросы и ответы</a></li>
            </ul>
        </section>
    </div>
</div>
</body>
</html>
