@@include('_header.html')
<body>
<div class="container">
    <div class="sign">
        <section class="description">
            <h3>Описание</h3>
            <p>1С:Подпись – простой способ подготовить и отправить заявление на выпуск квалифицированного сертификата электронной подписи от удостоверяющего центра ООО "НПЦ 1С". Продукт 1С:Подпись рекомендуется приобретать и использовать тем пользователям ПП 1С, кто хочет перейти на юридически значимый электронный документооборот (ЭДО) со своими контрагентами, но еще не имеет для этого квалифицированного сертификата, или количество сотрудников, использующих сертификат электронной подписи для ЭДО, необходимо увеличить. Сертификат, полученный с помощью 1С:Подписи, не предназначен для отправки регламентированной отчетности в контролирующие органы в электронном виде через телекоммуникационные каналы связи и для участия в торгах на федеральных и коммерческих электронных торговых площадках.</p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
                <li>Подключиться к базам 1С через 1С:Линк не сложнее, чем запустить 1С:Бухгалтерию. В любое время можно как включить доступ, так и отключить его.</li>
                <li>Передаваемые данные защищены персональными ключами и сертификатами, которые хранятся только у пользователя. Сервис 1С:Линк не хранит и не дешифрует данные абонента.</li>
                <li>Компьютер абонента не становится уязвимым для атаки хакеров. Для дополнительной защиты можно настраивать список пользователей, имеющих право работать через 1С:Линк.</li>
                <li>Доступ через «1С:Линк» можно настроить самостоятельно, без привлечения специалистов.</li>
                <li>Можно организовать доступ к нескольким информационным базам одновременно.<br>
                    <a class="link-text" href="">Инструкция по работе с 1С:Подписью.</a></li>
            </ul>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Для подключения и использования сервиса 1С:Облачный необходимо подключить программу 1С к официальной поддержке.<br>
            <ul>
                <li>Информация о регистрации программы доступна в  <a class="link-text" href="">Личном кабинете</a>этого портала</li>
                <li><a class="link-text" href="">Проверка наличия действующего 1С:ИТС</a></li>
            </ul>
            <p>Справочная информация:</p>
            <ul>
                <li>Информация о регистрации программы доступна в <a class="link-text" href="">Личном кабинете </a> этого портала;</li>
                <li><a class="link-text" href="">Проверка наличия действующего 1С:ИТС</a></li>
                <li><a class="link-text" href="">Выбрать партнера для оформления 1С:ИТС и сопровождения</a></li>
            </ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="program">
            <h3>Программы, в которых реализован сервис</h3>
            <p>Сейчас сервис доступен для следующих приложений:</p>
            <ul>
                <li>1С:Бухгалтерия 8 (редакция 3)</li>
                <li>1С:Управление небольшой фирмой 8</li>
                <li>1С:Бухгалтерия 8 (редакция 3)</li>
                <li>1С:Управление небольшой фирмой 8</li>
                <li>1С:Бухгалтерия 8 (редакция 3)</li>
                <li>1С:Управление небольшой фирмой 8</li>
                <li>1С:Бухгалтерия 8 (редакция 3)</li>
                <li>1С:Управление небольшой фирмой 8</li>
            </ul>
        </section>
        <section class="instructions">
            <h3>Инструкции</h3>
            <ul>
                <li>Заказать подключение сервиса можно непосредственно из программ «1С:Предприятие».</li>
                <li>Для заключения договора на доступ к сервису, а также для подключения и настройки сервиса необходимо обратиться к обслуживающему партнеру.</li>
                <li>Для заключения договора на доступ к сервису, а также для подключения и настройки сервиса необходимо обратиться к обслуживающему партнеру.</li>
            </ul>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            p>Продукт 1С:Подпись продается пользователям прикладных решений 1С:Предприятия партнерами 1С по рекомендованной розничной цене 600 рублей.
            Продукт 1С:Подпись включен в пакеты сервисов «СтартЭДО» и «1С:Подпись».
            Пользователям с действующим договором 1С:ИТС уровня ПРОФ предоставляется без дополнительной оплаты пробная лицензия на 1С:Подпись для оформления квалифицированного сертификата. Эта пробная лицензия может быть использована в течение срока действия договора 1С:ИТС, но не более 1 раза в течение года.</p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <ul>
                <li>Техническую поддержку по вопросам использования функционала обмена электронными документами в программах "1С:Предприятие 8" пользователи могут получить у обслуживающего партнера 1С.</li>
                <li>Также по вопросам работы в программах 1С с функционалом регистрации в "1С-ЭДО" и обмена электронными документами можно обращаться в Центр поддержки пользователей "1С-ЭДО" по следующим каналам:</li>
                <li><a class="link-text" href="">Типичные проблемы и их решения</a></li>
            </ul>
        </section>
    </div>
</div>
</body>
</html>
