@@include('_header.html')
<body>
<div class="container">
    <div class="spark-risk">
        <section class="features">
            <h3>Чем поможет сервис</h3>
            <h4>Для руководителя, предпринимателя, менеджера, принимающего бизнес-решения</h4>
            <div class="markdown">
                <p>
                    Будьте в курсе изменений у ваших партнеров и клиентов: сервис каждый день дает информацию о банкротстве, ликвидации, планах по реорганизации, изменении юридического адреса и руководителя.
                </p>
                <p>
                    Сделка с неплатежеспособным покупателем или поставщиком может повлечь финансовые потери. Чтобы принять взвешенное решение о целесообразности сделки с контрагентом, оцените риски с помощью
                    <a class="link-text" href="">индексов СПАРК</a> и <a class="link-text" href="">бизнес-справки</a>.
                </p>
            </div>
            <h4>Для бухгалтера, специалиста финансовых служб</h4>
            <div class="markdown">
                <p>Обезопасьте себя от штрафов налоговой инспекции и отказов в вычете. Справка о контрагенте, которую дает сервис, подписана электронной подписью от «Интерфакс» и является юридически значимым документом для доказательства должной осмотрительности.</p>
            <p>Контролируйте дебиторскую задолженность. Проверьте финансовые показатели должников и уделите особое внимание тем, чьи индексы в зоне риска.
            </p>
            </div>
        </section>
        <section class="capabilities">
            <h3>Возможности</h3>
            <div class="embed-responsive embed-responsive-16by9">
               <iframe src="https://www.youtube.com/embed/l9QA_PfWR0E?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="640" height="360" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
           <h4>Экспресс-оценка контрагентов на основе индексов СПАРК</h4>
            <div class="markdown">
                <p>Индексы СПАРК показывают, насколько контрагент похож на фирму-однодневку, устойчив ли в финансовом плане и вовремя ли платит по счетам. Если индекс зеленый, – все хорошо. Индекс в красной зоне – проявите осторожность и запросите у контрагента дополнительную информацию!</p>
           <p><a class="link-text" href="">Подробнее об индексах>></a></p>
            </div>
            <h4>Мониторинг контрагентов</h4>
            <div class="markdown">
                <p>Это система оповещения о важных изменениях в жизни контрагента – ликвидации, реорганизации, смене руководителя, адреса, учредителей и т.п.
                </p>
                <p>Чтобы отслеживать изменения, сервис использует десятки различных источников информации, включая ЕГРЮЛ и Единый федеральный реестр сведений о фактах деятельности юридических лиц. События мониторинга можно просматривать непосредственно в программах 1С и в личном кабинете на портале 1С:ИТС.</p>
            </div>
            <h4>Получение заверенной справки о контрагенте</h4>
            <p>Справка содержит ключевые факторы деятельности юридического лица, на которые следует обратить внимание при принятии решения о сотрудничестве:</p>
           <ul>
               <li>признаки "однодневности";</li>
               <li>упоминание в рисковых реестрах;</li>
               <li>факты, подтверждающие ведение хозяйственной деятельности;</li>
               <li>финансовые показатели.</li>
           </ul>
        <p><a class="link-text" href="">Как пользоваться справкой>></a></p>
        </section>
        <section class="termsOfUse">
            <p>Сервис работает в программах:</p>
            <ul>
                <li>"1С:Бухгалтерия 8" (ред. 3.0)</li>
                <li>"1С:Управление небольшой фирмой" (ред. 1.6)</li>
                <li>"1С:ERP Управление предприятием 2"</li>
                <li>"1С:Комплексная автоматизация" (ред.2)</li>
                <li>"1С:Управление торговлей, редакция" (ред.11)</li>
                <li>"1С:Розница" (ред.2)</li>
            </ul>
                <p><a class="link-text" href="">Просмотреть весь список программ…</a></p>
                <p><a class="link-text" href="">Программа должна быть на официальной поддержке.</a></p>
                <p>Для работы сервиса необходим доступ в Интернет.</p>
                <p>Получение справок, индексов и событий мониторинга возможно не по всем типам организаций. 
                <br> <a class="link-text" href="">Подробнее>></a></p>
        </section>
            <section class="prices">
                <h3>Цена</h3>
                <div class="row price">
                    <div class="col-9">
                        <h4>Тариф "1СПАРК Риски"</h4>
                        <ul>
                            <li>Индексы СПАРК по всем контрагентам</li>
                            <li>Мониторинг всех контрагентов</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <p class="application-cost">3 000 руб./год</p>
                        <a class="button butn-orange" href="">Заказать</a>
                    </div>
                </div>
                <div class="row price">
                    <div class="col-9">
                        <h4>Тариф "1СПАРК Риски +"</h4>
                        <ul>
                            <li>Индексы СПАРК по всем контрагентам</li>
                            <li>Мониторинг всех контрагентов</li>
                            <li>Неограниченное количество справок по 150 контрагентам (<a class="link-text" href="">Подробнее>></a>)</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <p class="application-cost">22 500 руб./год</p>
                        <a class="button butn-orange" href="">Заказать</a>
                    </div>
                </div>
                <div class="row price">
                    <div class="col-9">
                        <h4>Демо-доступ на 7 дней</h4>
                        <ul>
                            <li>Индексы СПАРК по всем контрагентам</li>
                            <li>Мониторинг всех контрагентов</li>
                            <li>Неограниченное количество справок по 5 контрагентам</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <a class="button butn-orange" href="">Получить</a>
                    </div>
                </div>
            </section>
            <section class="support">
                <h3>Техподдержка</h3>
                <div class="markdown">
                    <p>Поддержка обеспечивается партнерами и линией консультаций фирмы "1С" по электронной почте: webits-info@1c.ru</p>
               <p><a class="link-text" href="">Правила обращения</a></p>
                </div>
            </section>
            <section class="info">
                <h3>Дополнительно</h3>
                <h4>Инструкции</h4>
                <div class="markdown">
                    <ul>
                        <li><a class="link-text" href="">Как подключить официальную поддержку</a></li>
                        <li><a class="link-text" href="">Как работать с "1СПАРК Риски" в "1С:Бухгалтерии предприятия", ред. 3.0</a></li>
                        <li><a class="link-text" href="">Как работать с "1СПАРК Риски" в "1С:Управлении торговлей", ред. 11</a></li>
                        <li><a class="link-text" href="">Подробнее об индексах</a></li>
                        <li><a class="link-text" href="">Рекомендации по работе с бизнес-справкой</a></li>
                        <li><a class="link-text" href="">Как проверить электронную подпись в бизнес-справке</a></li>
                        <li><a class="link-text" href="">Программа "Налоги" на телеканале "Россия 24" о проблеме выявления фирм-однодневок и запуске сервиса "1СПАРК Риски" (Видео)</a></li>
                    </ul>
                </div>
                <h4>Получение справок, индексов и событий мониторинга – ограничения</h4>
                <div class="markdown">
                    ИДО не рассчитывается для следующих типов организаций:
                    <ul>
                        <li>бюджетные учреждения;</li>
                        <li>общественные и религиозные организации – приходы храмов, СОРОО, МОНОО;</li>
                        <li>автономные некоммерческие организации;</li>
                        <li>товарищества собственников жилья;</li>
                        <li>садоводческие, огороднические или дачные некоммерческие товарищества;</li>
                        <li>некоммерческие партнерства – НП, ДНП, СРО;</li>
                        <li>прочие некоммерческие организации – казачьи общества, коллегии адвокатов;</li>
                        <li>экстерриториальные организации;</li>
                        <li>органы общественной самодеятельности;</li>
                        <li>общественные движения;</li>
                        <li>ассоциации и союзы;</li>
                        <li>унитарные предприятия.</li>
                    </ul>
                    <p>ИФР и ИПД рассчитываются для любых юрлиц, если есть необходимые исходные данные, т.к. у банков и страховых компаний свой формат отчетности, ИФР по ним не считается. Также ИФР отсутствует для НКО.</p>
                <p>По индивидуальным предпринимателям нельзя получить индексы, отсутствуют статусы и события мониторинга.</p>
                <p>Бизнес-справку можно получить только по юридическим лицам.</p>
                </div>
                <h4>Дополнительные условия использования "1СПАРК Риски +"</h4>
                <div class="markdown">
                    <p>Доступ к информации по компаниям открывается на все время действия лицензии. Если пользователь продлевает доступ на второй год или приобретает еще одну лицензию "1СПАРК Риски +" в течение действия первой, он получит информацию из СПАРКа уже по 300 компаниям (150 – бонусы от предыдущей лицензии + 150 за продление). Срок действия "1СПАРК Риски +" может продлеваться неограниченное количество раз.</p>
               <p>Если пользователь в течение месяца не продлил срок действия "1СПАРК Риски +", все бонусы (накопленное количество компаний, по которым он может посмотреть подробную информацию) у него сгорают.</p>
                <p>Справки можно просматривать из программы 1С, а также через личный кабинет на портале 1С:ИТС.
                    Срок хранения полученных справок на портале составляет 3 года.</p>
<p>С подробной информацией об условиях использования можно ознакомиться в следующих информационных письмах:</p>
<p><a class="link-text" href="">Информация для пользователей и партнеров №21656 от 20.07.2016 </a>
<br><a class="link-text" href="">Информация для партнеров №21657 от 20.07.2016</a></p>
                </div>
            </section>
    </div>
</div>
</body>
</html>