@@include('_header.html')
<body>
<div class="container">
    <div class="taxcom">
        <section class="description">
            <h3>Описание</h3>
            <p>«1С-Такском» – совместное решение фирмы 1С и оператора электронного документооборота (ЭДО) компании «Такском», которое обеспечивает обмен юридически значимыми документами, электронными счетами-фактурами и другими электронными документами прямо из 1С:Предприятия, без использования других программ.

                Большинство предприятий ведут учет хозяйственной деятельности и создают документы для оформления сделок в учетной системе. Обычно бухгалтерия распечатывает, подписывает бумажные документы, отправляет их почтой или курьером. И наоборот, получает от контрагента, визирует и возвращает подписанные документы. После осуществления хозяйственной операции сотрудник предприятия вводит в свою учетную систему счет-фактуру, первичные документы, полученные от контрагента.</p>
            <ul>
                <li>защитить базы данных от случайной утери из-за выхода из строя оборудования, программных сбоев, «человеческого фактора»;</li>
                <li>не заботиться об отслеживании запущенных процессов, «1С:Облачный архив» самостоятельно проконтролирует выполнение и успешное завершение копирования баз данных в хранилище;</li>
                <li>получать информацию о результатах работы агента резервного копирования при входе в базу «1С:Предприятие».</li>
                <li>защитить базы данных от случайной утери из-за выхода из строя оборудования, программных сбоев, «человеческого фактора»;</li>
                <li>не заботиться об отслеживании запущенных процессов, «1С:Облачный архив» самостоятельно проконтролирует выполнение и успешное завершение копирования баз данных в хранилище;</li>
                <li>получать информацию о результатах работы агента резервного копирования при входе в базу «1С:Предприятие».</li>
            </ul>
            <p><a class="link-text" href="">Информация о сервисе</a></p>
            <p><a class="link-text" href="">Как работает сервис (видео)</a></p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
            <h4>Преимущества безбумажного обмена электронными документами:</h4>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
                <li>Подключиться к базам 1С через 1С:Линк не сложнее, чем запустить 1С:Бухгалтерию. В любое время можно как включить доступ, так и отключить его.</li>
                <li>Передаваемые данные защищены персональными ключами и сертификатами, которые хранятся только у пользователя. Сервис 1С:Линк не хранит и не дешифрует данные абонента.</li>
                <li>Компьютер абонента не становится уязвимым для атаки хакеров. Для дополнительной защиты можно настраивать список пользователей, имеющих право работать через 1С:Линк.</li>
                <li>Доступ через «1С:Линк» можно настроить самостоятельно, без привлечения специалистов.</li>
                <li>Можно организовать доступ к нескольким информационным базам одновременно.</li>
            </ul>
            <h4>Организационные преимущества 1С-Такском:</h4>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
                <li>Подключиться к базам 1С через 1С:Линк не сложнее, чем запустить 1С:Бухгалтерию. В любое время можно как включить доступ, так и отключить его.</li>
                <li>Передаваемые данные защищены персональными ключами и сертификатами, которые хранятся только у пользователя. Сервис 1С:Линк не хранит и не дешифрует данные абонента.</li>
                <li>Компьютер абонента не становится уязвимым для атаки хакеров. Для дополнительной защиты можно настраивать список пользователей, имеющих право работать через 1С:Линк.</li>
                <li>Доступ через «1С:Линк» можно настроить самостоятельно, без привлечения специалистов.</li>
                <li>Можно организовать доступ к нескольким информационным базам одновременно.</li>
            </ul>
            <h4>Технические преимущества 1С-Такском по сравнению с другими решениями ЭДО:</h4>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
                <li>Подключиться к базам 1С через 1С:Линк не сложнее, чем запустить 1С:Бухгалтерию. В любое время можно как включить доступ, так и отключить его.</li>
                <li>Передаваемые данные защищены персональными ключами и сертификатами, которые хранятся только у пользователя. Сервис 1С:Линк не хранит и не дешифрует данные абонента.</li>
                <li>Компьютер абонента не становится уязвимым для атаки хакеров. Для дополнительной защиты можно настраивать список пользователей, имеющих право работать через 1С:Линк.</li>
                <li>Доступ через «1С:Линк» можно настроить самостоятельно, без привлечения специалистов.</li>
                <li>Можно организовать доступ к нескольким информационным базам одновременно.</li>
            </ul>
            <p>Архив электронных документов является частью ПП 1С. Таким образом, в ходе стандартных процедур по резервированию информационной базы вы можете создавать резервную копию электронного архива.
            </p>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Для подключения и использования сервиса 1С:Облачный необходимо подключить программу 1С к официальной поддержке.<br>
                <a class="link-text" href="">Подробнее</a></p>
            <p>Иметь действующий договор информационно-технологического сопровождения (1С:ИТС) с партнером 1С или приобрести пакет сервисов <a class="link-text" href="">СтартЭДО</a></p>
            <ul>
                <li>Информация о регистрации программы доступна в  <a class="link-text" href="">Личном кабинете</a>этого портала</li>
                <li><a class="link-text" href="">Проверка наличия действующего 1С:ИТС</a></li>
                <li><a class="link-text" href="">Выбрать партнера </a>для оформления 1С:ИТС и сопровождения</li>
            </ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="program">
            <h3>Программы, в которых реализован сервис</h3>
            <p>Сейчас сервис доступен для следующих приложений:</p>
            <ul>
                <li>1С:Бухгалтерия 8 (редакция 3)</li>
                <li>1С:Управление небольшой фирмой 8</li>
                <li>1С:Бухгалтерия 8 (редакция 3)</li>
                <li>1С:Управление небольшой фирмой 8</li>
                <li>1С:Бухгалтерия 8 (редакция 3)</li>
                <li>1С:Управление небольшой фирмой 8</li>
                <li>1С:Бухгалтерия 8 (редакция 3)</li>
                <li>1С:Управление небольшой фирмой 8</li>
            </ul>
            <p>Самостоятельно встроить «1С:Облачный архив» в конфигурации на платформе «1С:Предприятие 8» (начиная с версии 8.3.8.1652) возможно при помощи типовой конфигурации «1С:Библиотека интернет-поддержки пользователей» (начиная с версии 2.1.8).</p>
            <p>Самостоятельно встроить «1С:Облачный архив» в конфигурации на платформе «1С:Предприятие 8» (начиная с версии 8.3.8.1652) возможно при помощи типовой конфигурации «1С:Библиотека интернет-поддержки пользователей» (начиная с версии 2.1.8).</p>
        </section>
        <section class="instructions">
            <h3>Инструкции</h3>
          <ul>
              <li>Заказать подключение сервиса можно непосредственно из программ «1С:Предприятие».</li>
              <li>Для заключения договора на доступ к сервису, а также для подключения и настройки сервиса необходимо обратиться к обслуживающему партнеру.</li>
              <li>Для заключения договора на доступ к сервису, а также для подключения и настройки сервиса необходимо обратиться к обслуживающему партнеру.</li>
              <li><a class="link-text" href="">Организация обмена электронными документами в решениях "1С:Предприятия 8"</a></li>
              <li><a class="link-text" href="">Организация обмена электронными документами в решениях "1С:Предприятия 8"</a></li>
              <li><a class="link-text" href="">Организация обмена электронными документами в решениях "1С:Предприятия 8"</a></li>
              <li><a class="link-text" href="">Организация обмена электронными документами в решениях "1С:Предприятия 8"</a></li>
          </ul>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <p>Пользователи, имеющие договоры ИТС уровня ПРОФ* могут на необходимый срок. При этом дисковое пространство, доступное по каждой лицензии, будет суммироваться.</p>
            <ul>
                <li>бесплатное подключение;</li>
                <li>бесплатное получение любого количества документов;</li>
                <li>бесплатное получение любого количества документов;</li>
                <li>бесплатное подключение;</li>
            </ul>
            <p>Пользователи, имеющие договоры ИТС уровня ПРОФ* могут на необходимый срок. При этом дисковое пространство, доступное по каждой лицензии, будет суммироваться.</p>
            <ul>
                <li>бесплатное подключение;</li>
                <li>бесплатное получение любого количества документов;</li>
                <li>бесплатное получение любого количества документов;</li>
                <li>бесплатное подключение;</li>
            </ul>
            <p>Пользователи, имеющие договоры ИТС уровня ПРОФ* могут на необходимый срок. При этом дисковое пространство, доступное по каждой лицензии, будет суммироваться.</p>
            <ul>
                <li>бесплатное подключение;</li>
                <li>бесплатное получение любого количества документов;</li>
                <li>бесплатное получение любого количества документов;</li>
                <li>бесплатное подключение;</li>
            </ul>
            <p>Справочная информация</p>
            <ul>
                <li><a class="link-text" href="">Информация для пользователей и партнеров №19589 от 26.02.2015</a></li>
                <li><a class="link-text" href="">Информация для партнеров №19590 от 26.02.2015</a></li>
            </ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
         <ul>
             <li>Техническую поддержку по вопросам использования функционала обмена электронными документами в программах "1С:Предприятие 8" пользователи могут получить у обслуживающего партнера 1С.</li>
             <li>Также по вопросам работы в программах 1С с функционалом регистрации в "1С-ЭДО" и обмена электронными документами можно обращаться в Центр поддержки пользователей "1С-ЭДО" по следующим каналам:
             <ul>
                 <li>через 1С-Коннект, сервис "Поддержка 1С-ЭДО"</li>
                 <li>единый бесплатный федеральный номер 8-800-333-93-13</li>
                 <li>электронная почта edo@1c.ru</li>
             </ul>
             </li>
             <li><a class="link-text" href="">Типичные проблемы и их решения</a></li>
             <li><a class="link-text" href="">Ответы на часто задаваемые вопросы</a></li>
         </ul>
        </section>
    </div>
</div>
</body>
</html>
