@@include('_header.html')
<body>
<div class="container">
    <div class="edo">
        <section class="description">
            <h3>Описание</h3>
            <p>1С:Подпись – простой способ подготовить и отправить заявление на выпуск квалифицированного сертификата электронной подписи от удостоверяющего центра ООО "НПЦ 1С". Продукт 1С:Подпись рекомендуется приобретать и использовать тем пользователям ПП 1С, кто хочет перейти на юридически значимый электронный документооборот (ЭДО) со своими контрагентами, но еще не имеет для этого квалифицированного сертификата, или количество сотрудников, использующих сертификат электронной подписи для ЭДО, необходимо увеличить. Сертификат, полученный с помощью 1С:Подписи, не предназначен для отправки регламентированной отчетности в контролирующие органы в электронном виде через телекоммуникационные каналы связи и для участия в торгах на федеральных и коммерческих электронных торговых площадках.</p>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
                <li>Все доработки и настройки приложений 1С сохраняются. При работе через Интернет программа выглядит и работает так же, как если бы она была открыта в офисе.</li>
                <li>Подключиться к базам 1С через 1С:Линк не сложнее, чем запустить 1С:Бухгалтерию. В любое время можно как включить доступ, так и отключить его.</li>
            </ul>
            <p>Продукт «Сайт специалиста» - более 160 готовых сайтов для специалистов различного профиля деятельности с возможностью опубликовать портфолио работ: сайт автослесаря, адвоката, бухгалтера, фотографа и многих других.

                Продукт «Лендинг» - более сорока готовых одностраничных сайтов, разработанных специально для продвижения какого-то одного товара, услуги или промо-акции. Например, монтаж систем видеонаблюдения, запись на вебинар, организация праздников и многое другое. Цель лендинга – привлечь посетителя и взять его контакты, предлагая ему хорошие условия (скидка, бесплатный замер, небольшой подарок и т.д.)</p>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="advantages">
            <h3>Преимущества</h3>
            <ul>
                <li>Возможность работы с приложениями 1С в любое время и из любой точки мира, где есть Интернет.</li>
                <li>Информационные базы остаются на компьютере пользователя, данные не загружаются на какие-либо серверы в Интернет.</li>
            </ul>
        </section>
        <section class="conditions">
            <h3>Условия получения</h3>
            <p>Для подключения и использования сервиса 1С:Облачный необходимо подключить программу 1С к официальной поддержке.<br>
            <ul>
                <li>Информация о регистрации программы доступна в  <a class="link-text" href="">Личном кабинете</a>этого портала</li>
                <li><a class="link-text" href="">Проверка наличия действующего 1С:ИТС</a></li>
                <li>Информация о регистрации программы доступна в  <a class="link-text" href="">Личном кабинете</a>этого портала</li>
            </ul>
            <p>
                <strong>
                    <a class="service" href="">Заказать сервис</a>
                </strong>
            </p>
        </section>
        <section class="prices">
            <h3>Цена</h3>
            <table>
                <thead>
                <tr>
                    <th style="width:15%">Артикул</th>
                    <th>Название номенклатуры</th>
                    <th style="width:20%">Рекомендованиая розничная цена, руб. без НДС</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-label="Артикул">2900001607162</td>
                    <td data-label="Название номенклатуры">"Сайт специалиста на 1 месяц</td>
                    <td data-label="Рекомендованная розничная цена, руб. без НДС">330</td>
                </tr>
                <tr>
                    <td data-label="Артикул">2900001607162</td>
                    <td data-label="Название номенклатуры">"Сайт специалиста на 1 месяц</td>
                    <td data-label="Рекомендованная розничная цена, руб. без НДС">330</td>
                </tr>
                <tr>
                    <td data-label="Артикул">2900001607162</td>
                    <td data-label="Название номенклатуры">"Сайт специалиста на 1 месяц</td>
                    <td data-label="Рекомендованная розничная цена, руб. без НДС">330</td>
                </tr>
                <tr>
                    <td data-label="Артикул">2900001607162</td>
                    <td data-label="Название номенклатуры">"Сайт специалиста на 1 месяц</td>
                    <td data-label="Рекомендованная розничная цена, руб. без НДС">330</td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="support">
            <h3>Техподдержка</h3>
            <p>Техническую поддержку по вопросам использования функционала обмена электронными документами в программах "1С:Предприятие 8" пользователи могут получить у обслуживающего партнера 1С.</p>
            <p>Также по вопросам работы в программах 1С с функционалом регистрации в "1С-ЭДО" и обмена электронными документами можно обращаться в Центр поддержки пользователей "1С-ЭДО" по следующим каналам:</p>
        </section>
    </div>
</div>
</body>
</html>
