@import "_mixins.scss";


/* colors */
$light-green: #93c64f;
$green: #39B54A;
$purple: #b06fbe;
$blue: #0159CC;
$orange: #EE6A34;
$light-orange: #fbb03b;
$red: #c1272d;
$dark-purple: #2e3192;
$dark-green: #009245;
$dark-blue: #05578d;
$dark-orange: #f15a24;
$link-orange: #f7931e;
$light-blue: #29abe2;
$fiolet: #662d91;
$sign-purple: #a12851;
$industry-green: #8cc63f;
$light-red: #ed2d24;
$UMI-blue: #007CC2;
$dirty-blue: #028DA7;
$grey: #607C8A;
$direct-red: #D53C2D;
$purple-blue: #2B427E;
$abbyy-red: #C60C30;
$light-grey: #f7f7f6;
$grey: #a2a2a2;
$border: #c2c2c2;
$border-col: #cc9900;

$text-link: #05578d;
$text-link-hov: #23527c;
$text-green: #009245;
$text-col: #333;
$h-color: #4a4a4a;

/* end colors */

body {
  padding: 100px 0;
  font-size: 14px;
  color: $text-col;
  background-color: $light-grey;
}
  h4 {
    color: $h-color;
    font-weight: 700;
    font-size: 18px;
  }
  h3{
    color: $grey;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
  }


.container-fluid{
  max-width: 1330px;
}
.container{
  box-shadow: 0 1px 6px 0 rgba(214, 214, 214, 1);
  padding: 20px 32px 20px 32px;
}
.appElement{
  margin: 20px 0;
}
.appContent{
  min-height: 120px;
  padding: 20px 32px 20px 32px;
  margin-left: 72px;
  box-shadow: -2px 1px 6px 0 rgba(214, 214, 214, 1);
}

.shadowed{
  display: block;
  float: left;
  box-shadow: -2px 1px 6px 0 rgba(214, 214, 214, 1);
}

.Program-Update{
  .shadowed{
    background: $light-green;

  }
}
.Goods{
  .shadowed{
    background: $green;
  }
}
.Counteragent{
  .shadowed{
    background: $purple;
  }
}
.OFD{
  .shadowed{
    background: $blue;
  }
}
.Spark-risks{
  .shadowed{
    background: $orange;
  }
}
.ITS{
  .shadowed{
    background: $light-orange;
  }
}
.Reporting{
  .shadowed{
    background: $red;
  }
}
.Lecture{
  .shadowed{
    background: $dark-purple;
  }
}
.Helpdesc{
  .shadowed{
    background: $dark-green;
  }
}
.Enterprise{
  .shadowed{
    background: $dark-blue;
  }
}
.Auditor{
  .shadowed{
    background: $dark-orange;
  }
}
.Link{
  .shadowed{
    background: $link-orange;
  }
}
.Cloud{
  .shadowed{
    background: $light-blue;
  }
}
.Taxcom{
  .shadowed{
    background: $fiolet;
  }
}

.Sign{
  .shadowed{
    background: $sign-purple;
  }
}
.EDO{
  .shadowed{
    background: $fiolet;
  }
}
.UMI{
  .shadowed{
    background: $UMI-blue;
  }
}
.Industry{
  .shadowed{
    background: $industry-green;
  }
}
.Bn, .Bn-TradeOffers{
.shadowed{
  background: $light-red;
}
}
.Etp{
  .shadowed{
    background: $dirty-blue;
  }
}
.Accounts-check{
  .shadowed{
    background: $grey;
  }
}
.Direct-bank{
  .shadowed{
    background: $direct-red;
  }
}
.Financial-control{
  .shadowed{
    background: $purple-blue;
  }
}
.ABBYY{
  .shadowed{
    background: $abbyy-red;
  }
}
.Nomenclature{
  .shadowed{
    background: $light-red;
  }
}

.service{
  background: url('/img/cart.svg') no-repeat 0 0;
  display: inline-block;
  padding-left: 43px;
  line-height: 36px;
  height: 36px;
  font-weight: 700;
  position: relative;
  color: $text-green;
  &:hover{
    color: $text-green;
  }
}

.link-text{
  color: $text-link;
  &:hover{
    color: $text-link-hov;
  }
}

.markdown{
  padding-left: 25px;
}
.price{
  border-bottom: 1px solid $border;
  padding: 20px 0;
  &:last-child{
    border-bottom: none;
  }
}

.button {
  margin: 20px 0;
  outline: none;
  text-align: center;
  cursor: pointer;
  box-shadow: none;
  border: none;
  min-width: 155px;
  display: inline-block;
  height: 36px;
  border-radius: 999px;
  line-height: 36px;
  font-size: 15px;
  padding: 0 25px;
  &:active {
    outline: none;
    box-shadow: none;
    border: none;
  }
  &:hover {
    outline: none;
    cursor: pointer;
    box-shadow: none;
    border: none;
  }
  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}
.application-cost{
  min-width: 155px;
  text-align: center;
  font-weight: bold;
  vertical-align: bottom;
  font-size: 16px;
  span{
    font-size: 14px;
  }
}

.butn-purple{
  background: $purple;
  color: white;
  &:active {
    background: $purple;
    color: white;
  }
  &:hover {
    background: $purple;
    color: white;
  }
}

.butn-green{
  background: $green;
  color: white;
  &:active {
    background: $green;
    color: white;
  }
  &:hover {
    background: $green;
    color: white;
  }
}

.butn-blue{
  background: $blue;
  color: white;
  &:active {
    background: $blue;
    color: white;
  }
  &:hover {
    background: $blue;
    color: white;
  }
}

.butn-orange{
   background: $orange;
   color: white;
   &:active {
     background: $orange;
     color: white;
   }
   &:hover {
     background: $orange;
     color: white;
   }
 }

.butn-red{
   background: $red;
   color: white;
   &:active {
     background: $red;
     color: white;
   }
   &:hover {
     background: $red;
     color: white;
   }
 }
.butn-red-invert{
  color: $red;
  background: white;
  border: 1px solid $red;
  &:active {
    color: $red;
    background: white;
    border: 1px solid $red;
  }
  &:hover {
    color: $red;
    background: white;
    border: 1px solid $red;
  }
}
.butn-blue-invert{
  color: $blue;
  background: white;
  border: 1px solid $blue;
  &:active {
    color: $blue;
    background: white;
    border: 1px solid $blue;
  }
  &:hover {
    color: $blue;
    background: white;
    border: 1px solid $blue;
  }
}

.embed-responsive{
  margin-bottom: 25px;
  max-width: 500px;
}


table {
  border-right: 2px solid $border-col;
  border-bottom: 2px solid $border-col;
  border-radius: 4px;
  width: 100%;
  margin:0 0 20px 0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border: 1px solid #ddd;
  padding: 5px;
}

table th, table td {
  text-align: center;
  border: 1px solid $border-col;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: center;
  border-right: 2px solid $border-col;
}

@include media-bp-down(lg){

  table {
    //border: 0;
    border-left: 2px solid $border-col;
    border-right: 2px solid $border-col;

  }

  table thead {
    display: none;
  }
table tbody{

}
  table tr {
    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $border-col;
  }

  table td {
    display: block;
    text-align: left;
    font-size: 13px;
    border-right: 0;
    border-left: 0;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    width: 50%;
    text-align: left;
  }
}

.col-3{
  text-align: center;
}